#{extends 'main.html' /}
<div class="grid_12">
	<div id="notification"></div>
	<div class="breadcrumb">
		<a
			href="http://tzelewski.co.uk/template/gentle/index.php?route=common/home">Home</a>
		» <a
			href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=18">Laptops
			&amp; Notebooks</a>
	</div>
	<div id="column-left">
		<div class="box">
			<div class="box-heading">Categories</div>
			<div class="box-content">
				<div class="box-category">
					<ul>
						<li><a
							href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=20">Desktops
								(13)</a>
							<ul>
								<li><a
									href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=20_26">
										- PC (0)</a></li>
								<li><a
									href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=20_27">
										- Mac (1)</a></li>
							</ul></li>
						<li><a
							href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=18"
							class="active">Laptops &amp; Notebooks (5)</a>
							<ul>
								<li><a
									href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=18_46">
										- Macs (0)</a></li>
								<li><a
									href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=18_45">
										- Windows (0)</a></li>
							</ul></li>
						<li><a
							href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=25"
							style="left: 0px;">Components (2)</a>
							<ul>
								<li><a
									href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=25_29">
										- Mice and Trackballs (0)</a></li>
								<li><a
									href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=25_28">
										- Monitors (2)</a></li>
								<li><a
									href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=25_30">
										- Printers (0)</a></li>
								<li><a
									href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=25_31">
										- Scanners (0)</a></li>
								<li><a
									href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=25_32">
										- Web Cameras (0)</a></li>
							</ul></li>
						<li><a
							href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=57"
							style="left: 0px;">Tablets (1)</a></li>
						<li><a
							href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=17"
							style="left: 0px;">Software (0)</a></li>
						<li><a
							href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=24">Phones
								&amp; PDAs (3)</a></li>
						<li><a
							href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=33">Cameras
								(2)</a></li>
						<li><a
							href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=34">MP3
								Players (4)</a>
							<ul>
								<li><a
									href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=34_43">
										- test 11 (0)</a></li>
								<li><a
									href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=34_44">
										- test 12 (0)</a></li>
								<li><a
									href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=34_47">
										- test 15 (0)</a></li>
								<li><a
									href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=34_48">
										- test 16 (0)</a></li>
								<li><a
									href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=34_49">
										- test 17 (0)</a></li>
								<li><a
									href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=34_50">
										- test 18 (0)</a></li>
								<li><a
									href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=34_51">
										- test 19 (0)</a></li>
								<li><a
									href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=34_52">
										- test 20 (0)</a></li>
								<li><a
									href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=34_53">
										- test 21 (0)</a></li>
								<li><a
									href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=34_54">
										- test 22 (0)</a></li>
								<li><a
									href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=34_55">
										- test 23 (0)</a></li>
								<li><a
									href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=34_56">
										- test 24 (0)</a></li>
								<li><a
									href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=34_38">
										- test 4 (0)</a></li>
								<li><a
									href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=34_37">
										- test 5 (0)</a></li>
								<li><a
									href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=34_39">
										- test 6 (0)</a></li>
								<li><a
									href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=34_40">
										- test 7 (0)</a></li>
								<li><a
									href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=34_41">
										- test 8 (0)</a></li>
								<li><a
									href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=34_42">
										- test 9 (0)</a></li>
							</ul></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="content">
		<h1>Laptops &amp; Notebooks</h1>
		<div class="category-info">
			<div class="image">
				<img
					src="http://tzelewski.co.uk/template/gentle/image/cache/data/hp_2-150x170.jpg"
					alt="Laptops &amp; Notebooks">
			</div>
			<p>Shop Laptop feature only the best laptop deals on the market.
				By comparing laptop deals from the likes of PC World, Comet, Dixons,
				The Link and Carphone Warehouse, Shop Laptop has the most
				comprehensive selection of laptops on the internet. At Shop Laptop,
				we pride ourselves on offering customers the very best laptop deals.
				From refurbished laptops to netbooks, Shop Laptop ensures that every
				laptop - in every colour, style, size and technical spec - is
				featured on the site at the lowest possible price.</p>
		</div>
		<h2>Refine Search</h2>
		<div class="category-list">
			<ul>
				<li><a
					href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=18_46">Macs
						(0)</a>
				</li>
				<li><a
					href="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=18_45">Windows
						(0)</a>
				</li>
			</ul>
		</div>
		<div class="product-filter">
			<div class="display">
				<b>Display:</b>
				<div id="list_b"></div>
				<a id="grid_a" onclick="display('grid');">Grid</a>
			</div>

			<div class="limit">
				<b>Show:</b> <select onchange="location = this.value;">
					<option
						value="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=18&amp;limit=15"
						selected="selected">15</option>
					<option
						value="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=18&amp;limit=25">25</option>
					<option
						value="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=18&amp;limit=50">50</option>
					<option
						value="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=18&amp;limit=75">75</option>
					<option
						value="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=18&amp;limit=100">100</option>
				</select>
			</div>
			<div class="sort">
				<b>Sort By:</b> <select onchange="location = this.value;">
					<option
						value="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=18&amp;sort=p.sort_order&amp;order=ASC"
						selected="selected">Default</option>
					<option
						value="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=18&amp;sort=pd.name&amp;order=ASC">Name
						(A - Z)</option>
					<option
						value="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=18&amp;sort=pd.name&amp;order=DESC">Name
						(Z - A)</option>
					<option
						value="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=18&amp;sort=p.price&amp;order=ASC">Price
						(Low &gt; High)</option>
					<option
						value="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=18&amp;sort=p.price&amp;order=DESC">Price
						(High &gt; Low)</option>
					<option
						value="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=18&amp;sort=rating&amp;order=DESC">Rating
						(Highest)</option>
					<option
						value="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=18&amp;sort=rating&amp;order=ASC">Rating
						(Lowest)</option>
					<option
						value="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=18&amp;sort=p.model&amp;order=ASC">Model
						(A - Z)</option>
					<option
						value="http://tzelewski.co.uk/template/gentle/index.php?route=product/category&amp;path=18&amp;sort=p.model&amp;order=DESC">Model
						(Z - A)</option>
				</select>
			</div>
		</div>
		<div class="product-compare">
			<a
				href="http://tzelewski.co.uk/template/gentle/index.php?route=product/compare"
				id="compare_total">Product Compare (0)</a>
		</div>
		<div class="product-list">
			<div>
				<div class="right">
					<div class="price">
						$587.50 <br> <span class="price-tax">Ex Tax: $500.00</span>
					</div>
					<div class="cart">
						<a onclick="addToCart('43');" class="button"><span>Add
								to Cart</span>
						</a>
					</div>
					<div class="wishlist">
						<a onclick="addToWishList('43');">Add to Wish List</a>
					</div>
					<div class="compare">
						<a onclick="addToCompare('43');">Add to Compare</a>
					</div>
				</div>
				<div class="left">
					<div class="image">
						<a
							href="http://tzelewski.co.uk/template/gentle/index.php?route=product/product&amp;path=18&amp;product_id=43"><img
							src="http://tzelewski.co.uk/template/gentle/image/cache/data/iphone_2-180x180.jpg"
							title="MacBook" alt="MacBook">
						</a>
					</div>
					<div class="name">
						<a
							href="http://tzelewski.co.uk/template/gentle/index.php?route=product/product&amp;path=18&amp;product_id=43">MacBook</a>
					</div>
					<div class="description">Intel Core 2 Duo processor Powered
						by an Intel Core 2 Duo processor at speeds up to 2.16GHz, the new
						MacBook is the fastest ever. 1GB memory, larger hard drives The
						new MacBook now comes with 1GB of memory standard and larger hard
						drives for the entire line perfect for running more of your
						favorite appli..</div>
				</div>
			</div>
			<div>
				<div class="right">
					<div class="price">
						$1,175.00 <br> <span class="price-tax">Ex Tax:
							$1,000.00</span>
					</div>
					<div class="cart">
						<a onclick="addToCart('44');" class="button"><span>Add
								to Cart</span>
						</a>
					</div>
					<div class="wishlist">
						<a onclick="addToWishList('44');">Add to Wish List</a>
					</div>
					<div class="compare">
						<a onclick="addToCompare('44');">Add to Compare</a>
					</div>
				</div>
				<div class="left">
					<div class="image">
						<a
							href="http://tzelewski.co.uk/template/gentle/index.php?route=product/product&amp;path=18&amp;product_id=44"><img
							src="http://tzelewski.co.uk/template/gentle/image/cache/data/macbook_air_1-180x180.jpg"
							title="MacBook Air" alt="MacBook Air">
						</a>
					</div>
					<div class="name">
						<a
							href="http://tzelewski.co.uk/template/gentle/index.php?route=product/product&amp;path=18&amp;product_id=44">MacBook
							Air</a>
					</div>
					<div class="description">MacBook Air is ultrathin,
						ultraportable, and ultra unlike anything else. But you don’t lose
						inches and pounds overnight. It’s the result of rethinking
						conventions. Of multiple wireless innovations. And of breakthrough
						design. With MacBook Air, mobile computing suddenly has a new
						standard. ..</div>
				</div>
			</div>
			<div class="no_right_margin">
				<div class="right">
					<div class="price">
						$2,350.00 <br> <span class="price-tax">Ex Tax:
							$2,000.00</span>
					</div>
					<div class="cart">
						<a onclick="addToCart('45');" class="button"><span>Add
								to Cart</span>
						</a>
					</div>
					<div class="wishlist">
						<a onclick="addToWishList('45');">Add to Wish List</a>
					</div>
					<div class="compare">
						<a onclick="addToCompare('45');">Add to Compare</a>
					</div>
				</div>
				<div class="left">
					<div class="image">
						<a
							href="http://tzelewski.co.uk/template/gentle/index.php?route=product/product&amp;path=18&amp;product_id=45"><img
							src="http://tzelewski.co.uk/template/gentle/image/cache/data/canon_eos_5d_3-180x180.jpg"
							title="MacBook Pro" alt="MacBook Pro">
						</a>
					</div>
					<div class="name">
						<a
							href="http://tzelewski.co.uk/template/gentle/index.php?route=product/product&amp;path=18&amp;product_id=45">MacBook
							Pro</a>
					</div>
					<div class="description">Latest Intel mobile architecture

						Powered by the most advanced mobile processors from Intel, the new
						Core 2 Duo MacBook Pro is over 50% faster than the original Core
						Duo MacBook Pro and now supports up to 4GB of RAM. Leading-edge
						graphics The NVIDIA GeForce 8600M GT delivers exceptional
						graphic..</div>
				</div>
			</div>
			<div>
				<div class="right">
					<div class="price">
						$1,175.00 <br> <span class="price-tax">Ex Tax:
							$1,000.00</span>
					</div>
					<div class="cart">
						<a onclick="addToCart('46');" class="button"><span>Add
								to Cart</span>
						</a>
					</div>
					<div class="wishlist">
						<a onclick="addToWishList('46');">Add to Wish List</a>
					</div>
					<div class="compare">
						<a onclick="addToCompare('46');">Add to Compare</a>
					</div>
				</div>
				<div class="left">
					<div class="image">
						<a
							href="http://tzelewski.co.uk/template/gentle/index.php?route=product/product&amp;path=18&amp;product_id=46"><img
							src="http://tzelewski.co.uk/template/gentle/image/cache/data/P/samsung-r530-180x180.jpg"
							title="Sony VAIO" alt="Sony VAIO">
						</a>
					</div>
					<div class="name">
						<a
							href="http://tzelewski.co.uk/template/gentle/index.php?route=product/product&amp;path=18&amp;product_id=46">Sony
							VAIO</a>
					</div>
					<div class="description">Unprecedented power. The next
						generation of processing technology has arrived. Built into the
						newest VAIO notebooks lies Intel's latest, most powerful
						innovation yet: Intel® Centrino® 2 processor technology. Boasting
						incredible speed, expanded wireless connectivity, enhanced
						multimedia support and greater energy e..</div>
				</div>
			</div>
			<div>
				<div class="right">
					<div class="price">
						$117.50 <br> <span class="price-tax">Ex Tax: $100.00</span>
					</div>
					<div class="cart">
						<a onclick="addToCart('47');" class="button"><span>Add
								to Cart</span>
						</a>
					</div>
					<div class="wishlist">
						<a onclick="addToWishList('47');">Add to Wish List</a>
					</div>
					<div class="compare">
						<a onclick="addToCompare('47');">Add to Compare</a>
					</div>
				</div>
				<div class="left">
					<div class="image">
						<a
							href="http://tzelewski.co.uk/template/gentle/index.php?route=product/product&amp;path=18&amp;product_id=47"><img
							src="http://tzelewski.co.uk/template/gentle/image/cache/data/iphone_3-180x180.jpg"
							title="HP LP3065" alt="HP LP3065">
						</a>
					</div>
					<div class="name">
						<a
							href="http://tzelewski.co.uk/template/gentle/index.php?route=product/product&amp;path=18&amp;product_id=47">HP
							LP3065</a>
					</div>
					<div class="description">Stop your co-workers in their tracks
						with the stunning new 30-inch diagonal HP LP3065 Flat Panel
						Monitor. This flagship monitor features best-in-class performance
						and presentation features on a huge wide-aspect screen while
						letting you work as comfortably as possible - you might even
						forget you're at the office ..</div>
				</div>
			</div>
		</div>
		<div class="pagination">
			<div class="results">Showing 1 to 5 of 5 (1 Pages)</div>
		</div>
	</div>
	<script type="text/javascript">
	<!--
		function display(view) {
			if (view == 'list') {
				$('.product-grid').attr('class', 'product-list');

				$('.product-list > div').each(
						function(index, element) {

							var price = $(element).find('.price').html();
							html = '<div class="right">';
							html += '<div class="price">' + price + '</div>';
							html += '  <div class="cart">'
									+ $(element).find('.cart').html()
									+ '</div>';
							html += '  <div class="wishlist">'
									+ $(element).find('.wishlist').html()
									+ '</div>';
							html += '  <div class="compare">'
									+ $(element).find('.compare').html()
									+ '</div>';
							html += '</div>';

							html += '<div class="left">';

							var image = $(element).find('.image').html();

							if (image != null) {
								html += '<div class="image">' + image
										+ '</div>';
							}

							html += '  <div class="name">'
									+ $(element).find('.name').html()
									+ '</div>';
							html += '  <div class="description">'
									+ $(element).find('.description').html()
									+ '</div>';

							var rating = $(element).find('.rating').html();

							if (rating != null) {
								html += '<div class="rating">' + rating
										+ '</div>';
							}

							html += '</div>';

							$(element).html(html);
						});

				$('.display')
						.html(
								'<b>Display:</b> <div id="list_b"></div>  <a id="grid_a" onclick="display(\'grid\');">Grid</a>');

				$.cookie('display', 'list');
			} else {
				$('.product-list').attr('class', 'product-grid');

				$('.product-grid > div').each(
						function(index, element) {
							html = '';

							var image = $(element).find('.image').html();

							if (image != null) {
								html += '<div class="image">' + image
										+ '</div>';
							}

							html += '<div class="name">'
									+ $(element).find('.name').html()
									+ '</div>';
							html += '<div class="description">'
									+ $(element).find('.description').html()
									+ '</div>';

							var price = $(element).find('.price').html();

							if (price != null) {
								html += '<div class="price">' + price
										+ '</div>';
							}

							var rating = $(element).find('.rating').html();

							if (rating != null) {
								html += '<div class="rating">' + rating
										+ '</div>';
							}

							html += '<div class="cart">'
									+ $(element).find('.cart').html()
									+ '</div>';
							html += '<div class="wishlist">'
									+ $(element).find('.wishlist').html()
									+ '</div>';
							html += '<div class="compare">'
									+ $(element).find('.compare').html()
									+ '</div>';

							$(element).html(html);
						});

				$('.display')
						.html(
								'<b>Display:</b> <a id="list_a" onclick="display(\'list\');">List</a>  <div id="grid_b"></div>');

				$.cookie('display', 'grid');
			}
		}

		view = $.cookie('display');

		if (view) {
			display(view);
		} else {
			display('list');
		}
	//-->
	</script>

</div>