#{extends 'main.html' /}
#{set title:'Shopping cart' /}
<style>
<!--
.hidden{
	display: none;
}
-->
</style>
<div class="grid_12">
	<div id="content">
		<div class="breadcrumb">
			<a href="@{Index.index}">Home</a>
			» <a href="@{cart.index()}">Shopping Cart</a>
			» <a href="@{cart.check_out()}">Check out</a>
		</div>
		<h1>Shopping Cart » Check out</h1>
		<div class="cart-info">
			#{if cart!=null && !cart.empty}
			#{form @confirm(),id:"order_confirm"}
			<table>
				<thead>
					<tr>
						<th class="image">Image</th>
						<th class="name">Product Name</th>
						<th class="quantity">Quantity</th>
						<th class="price">Unit Price</th>
						<th class="total">Total</th>
					</tr>
				</thead>
				<tbody>
				#{list cart.allProduct, as:'sellerCart'}
				#{list sellerCart.allProduct, as:'product'}
					<tr>
						<td class="image">
							<a href="@{Products.view(product.id)}">
								<img src="${product.product?.image?.path100}" width="100" height="100" alt="${product.product.name}" title="${product.product.name}">
							</a>
						</td>
						<td class="name"><a href="@{Products.view(product.product.id)}">${product.product.name}</a></td>
						<td class="quantity">${product.number}</td>
						<td class="price">$${product.product.price}</td>
						<td class="total">$${product.number*product.product.price}</td>
					</tr>
				#{/list}
				#{/list}
				</tbody>
			</table>
			<div class="cart_spacer"></div>
			<table class="total">
				<tbody>
					<tr>
						<td class="cart_total_td" align="left"><b>Total:</b>
						</td>
						<td align="right">$${cart.totalPrice}</td>
					</tr>
				</tbody>
			</table>
			<div class="cart_spacer"></div>
			<h2>Please input your addressinfomation</h2>
			<div class="content">
			#{if addresses!=null && addresses.size()>0}
			<table class="form">
				<tbody>
					<tr>
						<td>Select common addresses</td>
						<td></td>
					</tr>
					#{list addresses ,as:'address'}
					<tr>
						<td><div class="hidden"><span id="commonaddfirstname_${address.id}">${address.firstName}</span>
						<span id="commonaddlastname_${address.id}">${address.lastName}</span>
						<span id="commonaddcountry_${address.id}">${address.country.id}</span>
						<span id="commonaddprovince_${address.id}">${address.province}</span>
						<span id="commonaddcity_${address.id}">${address.city}</span>
						<span id="commonaddaddress_${address.id}">${address.address}</span>
						<span id="commonaddphone_${address.id}">${address.phone}</span></div></td>
						<td><input type="radio" name="commonaddress" id="commonaddress_${address.id}" onclick="changeAddressinfo('${address.id}');"><label for="commonaddress_${address.id}">${address.firstName} ${address.lastName}  ${address.address}</label></td>
					</tr>
					#{/list}
				</tbody>
			</table>
			#{/if}
			<table class="form">
					<tbody>
						#{field 'order.firstName'}
						<tr>
							<td><span class="required">*</span> First name:</td>
							<td><input type="text" name="${field.name}" value="${field.value}" id="firstName"><span class="error">${field.error}</span></td>
						</tr>
						#{/field}
						#{field 'order.lastName'}
						<tr>
							<td><span class="required">*</span> Last name:</td>
							<td><input type="text" name="${field.name}" value="${field.value}"  id="lastName"><span class="error">${field.error}</span></td>
						</tr>
						#{/field}
						#{field 'order.country.id'}
						<tr>
							<td><span class="required">*</span> Country:</td>
							<td>#{select name:'order.country.id',items:countrys,value:field.value,id:'country'} #{/select} <span class="error">${field.error}</span></td>
						</tr>
						#{/field}
						#{field 'order.address'}
						<tr>
							<td><span class="required">*</span> Address:</td>
							<td><input type="text" name="${field.name}" value="${field.value}" id="address" ><span class="error">${field.error}</span></td>
						</tr>
						#{/field}
						#{field 'order.city'}
						<tr>
							<td><span class="required">*</span> City:</td>
							<td><input type="text" name="${field.name}" value="${field.value}"  id="city" ><span class="error">${field.error}</span></td>
						</tr>
						#{/field}
						#{field 'order.province'}
						<tr>
							<td><span class="required">*</span> State:</td>
							<td><input type="text" name="${field.name}" value="${field.value}"  id="province" ><span class="error">${field.error}</span></td>
						</tr>
						#{/field}
						#{field 'order.phone'}
						<tr>
							<td><span class="required">*</span> Phone/Tel:</td>
							<td><input type="text" name="${field.name}" value="${field.value}"  id="phone" ><span class="error">${field.error}</span></td>
						</tr>
						#{/field}
					</tbody>
			</table>
			</div>
			<div class="cart_spacer"></div>
			<div class="buttons">
				<div class="right cart"><a href="@{Cart.index()}" class="button"><span>Back</span></a></div>
				<div class="right cart"><a href="javascript:void(0);" class="button" onclick="$('#order_confirm').submit();"><span>Checkout</span></a></div>
			</div>
			#{/form}
			#{/if}
			#{else}
			<div class="empty">Your shopping cart is empty!</div><br/>
			#{/else}
		</div>
	</div>
</div>
<script type="text/javascript">
<!--
function changeAddressinfo(id){
	$('#firstName').val($('#commonaddfirstname_'+id).text());
	$('#lastName').val($('#commonaddlastname_'+id).text());
	$('#country').val($('#commonaddcountry_'+id).text());
	$('#address').val($('#commonaddaddress_'+id).text());
	$('#province').val($('#commonaddprovince_'+id).text());
	$('#city').val($('#commonaddcity_'+id).text());
	$('#phone').val($('#commonaddphone_'+id).text());
}
//-->
</script>