#{extends 'main.html' /}
#{set title:'Shopping cart' /}

<div class="grid_12">
	<div id="content">
		<div class="breadcrumb">
			<a href="@{Index.index}">Home</a>
			» <a href="@{cart.index()}">Shopping Cart</a>
			» <a href="@{cart.check_out()}">Check out</a>
		</div>
		<h1>Shopping Cart » Order confirmation</h1>
		<div class="cart-info">
			#{if cart!=null && !cart.empty}
			#{form @order(),id:"order_form"}
			<input type="hidden" name="order.firstName" value="${order.firstName}" />
			<input type="hidden" name="order.lastName" value="${order.firstName}" />
			<input type="hidden" name="order.country.id" value="${order.country.id}" />
			<input type="hidden" name="order.address" value="${order.address}" />
			<input type="hidden" name="order.city" value="${order.city}" />
			<input type="hidden" name="order.province" value="${order.province}" />
			<input type="hidden" name="order.phone" value="${order.phone}" />
			<table>
				<thead>
					<tr>
						<th class="image">Image</th>
						<th class="name">Product Name</th>
						<th class="quantity">Quantity</th>
						<th class="price">Unit Price</th>
						<th class="total">Total</th>
					</tr>
				</thead>
				<tbody>
				#{list cart.allProduct, as:'sellerCart'}
				#{list sellerCart.allProduct, as:'product'}
					<tr>
						<td class="image">
							<a href="@{Products.view(product.id)}">
								<img src="${product.product?.image?.path100}" width="100" height="100" alt="${product.product.name}" title="${product.product.name}">
							</a>
						</td>
						<td class="name"><a href="@{Products.view(product.product.id)}">${product.product.name}</a></td>
						<td class="quantity">${product.number}</td>
						<td class="price">$${product.product.price}</td>
						<td class="total">$${product.number*product.product.price}</td>
					</tr>
				#{/list}
				#{/list}
				</tbody>
			</table>
			<div class="cart_spacer"></div>
			<table class="total">
				<tbody>
					<tr>
						<td class="cart_total_td" align="left"><b>Total:</b>
						</td>
						<td align="right">$${cart.totalPrice}</td>
					</tr>
				</tbody>
			</table>
			<div class="cart_spacer"></div>
			<table class="form">
					<tbody>
						<tr>
							<td>First name:</td>
							<td>${order.firstName}</td>
						</tr>
						<tr>
							<td>Last name:</td>
							<td>${order.lastName}</td>
						</tr>
						<tr>
							<td>Country:</td>
							<td>${order.country.name}</td>
						</tr>
						<tr>
							<td>Address:</td>
							<td>${order.address}</td>
						</tr>
						<tr>
							<td>City:</td>
							<td>${order.city}</td>
						</tr>
						<tr>
							<td>State:</td>
							<td>${order.province}</td>
						</tr>
						<tr>
							<td>Phone/Tel:</td>
							<td>${order.phone}</td>
						</tr>
					</tbody>
			</table>
			<div class="cart_spacer"></div>
			<div class="buttons">
				<div class="right cart"><a href="@{Cart.check_out()}" class="button"><span>Back</span></a></div>
				<div class="right cart"><a href="javascript:void(0);" class="button" onclick="$('#order_form').submit();"><span>Confirm Order</span></a></div>
			</div>
			#{/form}
			#{/if}
			#{else}
			<div class="empty">Your shopping cart is empty!</div><br/>
			#{/else}
		</div>
	</div>
</div>