#{extends 'main.html' /}
#{set title:'Shopping cart' /}

<div class="grid_12">
	<div id="content">
		<div class="breadcrumb">
			<a href="@{Index.index}">Home</a>
			» <a href="@{Cart.index()}">Shopping Cart</a>
			» <a href="@{Cart.check_out()}">Check out</a>
		</div>
		<h1>Shopping Cart</h1>
		<div class="cart-info">
			#{if cart!=null && !cart.empty}
			<table>
				<thead>
					<tr>
						<th class="image">Image</th>
						<th class="name">Product Name</th>
						<th class="quantity">Quantity</th>
						<th class="price">Unit Price</th>
						<th class="total">Total</th>
						<th class="remove">Remove</th>
					</tr>
				</thead>
			</table>
			
			#{list cart.allProduct, as:'sellerCart'}
			<table>
				<tbody>
					#{list sellerCart.allProduct, as:'product'}
					<tr id="tr_${product.product.id}">
						<td class="image">
							<a href="@{Products.view(product.id)}">
								<img src="${product.product?.image?.path100}" width="100" height="100" alt="${product.product.name}" title="${product.product.name}">
							</a>
						</td>
						<td class="name"><a href="@{Products.view(product.product.id)}">${product.product.name}</a></td>
						<td class="quantity">
						<input type="hidden" name="oriquantity_${product.product.id}" value="${product.number}" id="productorinum_${product.product.id}">
						<input type="text" name="quantity[${product.product.id}]" id="productnum_${product.product.id}" value="${product.number}" size="3"  onblur="changeProductCount('${product.product.id}',this.value);" onkeydown="if(event.keyCode == 13) event.returnValue = false"></td>
						<td class="price">$<span id="productunit_${product.product.id}">${product.product.price}</span></td>
						<td class="total">$<span id="productpri_${product.product.id}" class="productpri">${product.number*product.product.price}</span></td>
						<td class="remove"><a href="javascript:void(0);" onclick="removeCart('${product.product.id}');remove('${product.product.id}')">Remove</a></td>
					</tr>
					#{/list}
				</tbody>
				#{/list}
			</table>
			<div class="cart_spacer"></div>
			<table class="total">
				<tbody>
					<tr>
						<td class="cart_total_td" align="left"><b>Total:</b>
						</td>
						<td align="right">$<span id="total_price">${cart.totalPrice}</span></td>
					</tr>
				</tbody>
			</table>
			<div class="cart_spacer"></div>
			<div class="buttons">
				<div class="right cart"><a href="@{Index.index()}" class="button"><span>Continue Shopping</span></a></div>
				<div class="right cart"><a href="@{Cart.check_out()}" class="button"><span>Checkout</span></a></div>
			</div>
			#{/if}
			#{else}
			<div class="empty">Your shopping cart is empty!</div><br/>
			#{/else}
		</div>
	</div>
</div>
<script type="text/javascript">
<!--
function changeProductCount(id,num){
	if(!checknumber(num)){
		alert('Please input the correct number');
		$('#productnum_'+id).val($("#productorinum_"+id).val());
		return false;
	}
	if(num=='0'){
		alert('Product number can not be zero');
		$('#productnum_'+id).val($("#productorinum_"+id).val());
		return false;
	}
	
	updateCart(id,num);
	
	var punitprice=$("#productunit_"+id).html();
	$("#productpri_"+id).html(parseFloat(punitprice)*num);
	var totalprice=0.0;
	$("span.productpri").each(function(index){
		totalprice+=parseFloat($(this).text());
	});
	$("#total_price").html(totalprice);	
}
function remove(id){
	var totalprice=parseFloat($("#total_price").text());
	var pprice=parseFloat($("#productpri_"+id).text());
	$("#total_price").html(totalprice-pprice);
	$("#tr_"+id).remove();
}
//-->
</script>