#{if cart!=null && !cart.empty}
<table class="cart">
	<tbody>
		#{list cart.allProduct, as:'sellerCart'}
		#{list sellerCart.allProduct, as:'product'}
		<tr>
			<td class="image">
				<a href="@{Products.view(product.id)}">
					<img src="${product.product?.image?.path100}" width="40" height="40" alt="${product.product.name}" title="${product.product.name}">
				</a>
			</td>
			<td class="quantity">${product.number}</td>
			<td class="name"><a href="@{Products.view(product.product.id)}">${product.product.name}</a>
			</td>
			<td class="total">$${product.number*product.product.price}</td>
			<td class="remove"><a id="remove" onclick="removeCart('${product.product.id}');"></a></td>
		</tr>
		#{/list}
		#{/list}
	</tbody>
</table>
<div class="cart_spacer"></div>
<table class="total">
	<tbody>
		<tr>
			<td class="cart_total_td" align="left"><b>Total:</b>
			</td>
			<td align="right">$${cart.totalPrice}</td>
		</tr>
	</tbody>
</table>
<div class="cart_spacer"></div>
<div class="checkout">
	<a href="@{Cart.index()}" class="button"><span>Checkout</span></a>
</div>
#{/if}
#{else}
<div class="empty">Your shopping cart is empty!</div><br/>
#{/else}