#{extends 'main.html' /}
#{set title:'Shopping cart' /}

<div class="grid_12">
	<div id="content">
		<div class="breadcrumb">
			<a href="@{Index.index}">Home</a>
			» <a href="@{Cart.index()}">Shopping Cart</a>
			» <a href="@{Cart.check_out()}">Check out</a>
		</div>
		<h1>Order place successfully</h1>
		<div class="cart-info">
			Order placed successfully! We will contact you soon about the order.Go to <a href="@{buyer.BuyerApplication.index()}">my account</a>
		</div>
	</div>
</div>