#{extends 'seller/layouts/main.html' /} 
#{set title:'产品 管理' /}

<div class="contentcontainer">
	<div class="headings alt">
		<h2>产品管理</h2>
	</div>
	<div class="contentbox">
		<h3><a href="@{show()}">添加产品</a></h3>
		#{user.message /}
		<table>
			<thead>
				<tr>
					<th>&{'product.name'}</th>
					<th>&{'product.category'}</th>
					<th>&{'product.image'}</th>
					<th>&{'product.price'}(USD)</th>
					<th>&{'updated'}</th>
					<th>&{'product.ison'}</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
			    #{paginate.list items:paginator, as:'product'}
			    <tr>
		   			<td>${product.name}</td>
		   			<td>${product.category.name}</td>
		   			<td>#{if product.image}<img src="${product.image.path100}"/>#{/if}</td>
		   			<td>${product.price}</td>
		   			<td>${product.updated}</td>
		   			<td>${product.isOn?'是':'否'}</td>
		   			<td>
		   				<a href="@{show(product.id)}"><img src="/images/user/icons/icon_edit.png" alt="Edit"></a>&nbsp;&nbsp;
		   				<a href="@{delete(product.id)}" onclick="return confirm('您确认要删除该产品吗？?');"><img src="/images/user/icons/icon_delete.png" alt="Delete"></a>
		   			</td>
		   		</tr>
			    #{/paginate.list}
			    #{else}
			  	 <tr>
			    	<td colspan="7"> </td>
			    </tr>
			    	<tr>
			    		<td colspan="7"><a href="@{show()}">添加产品</a></td>
			    	</tr>
			    #{/else}
			</tbody>
		</table>
		#{paginate.controls items:paginator /}
		#{paginate.summary items:paginator /}
	</div>
</div>