#{extends 'seller/layouts/main.html' /}
#{set title:'添加产品' /}

#{stylesheet 'uploadify.css' /}
<style type="text/css">
#thumbnails{
	clear:both;
	padding:5px;
}
.image_upload{
	float:left;
	margin:5px;
	clear:none;
	width:100px;
	height:120px;
	text-align: center;
}

.image_close{
	display: inline-block;
	height: 14px;
	width: 14px;	
	margin-bottom: 5px;
	padding: 0px;
	background: url(/images/cancel.png) no-repeat;
}
</style>

<div class="contentcontainer">
	<div class="headings alt">
		<h2>添加产品</h2>
	</div>
	<div class="contentbox">
		#{user.message /}
		#{form @save(product?product.id:null), id:'product_form'}
			<input name="product.id" value="${product.id}" type="hidden">
			#{field 'product.name'}
			<p class="${field.errorClass}">
				<label><strong>&{'product.name'}: </strong></label>
				<input type="text" name="${field.name}" id="name" value="${product.name}" class="inputbox" />
				#{if field.error}
				<img src="/images/user/icons/icon_missing.png" alt="Error">
				<br/>
				<span class="smltxt red">${field.error}</span>
				#{/if}
			</p>
			#{/field}
			#{field 'product.category.id'}
			<p class="${field.errorClass}">
				<label><strong>&{'product.category'}: </strong></label>
				%{categories=models.Category.findTop()}%
				#{select field.name, items:categories, value:product.category?product.category.id:null}#{/select}
				#{if field.error}
				<img src="/images/user/icons/icon_missing.png" alt="Error">
				<br/>
				<span class="smltxt red">${field.error}</span>
				#{/if}
			</p>
			#{/field}
			#{field 'product.image'}
			<div id="thumbnails" class="clearfix">
			<label><strong>图片: </strong></label>
				#{list product.images, as:'image'}
				<div class="image_upload">
					<img src="${image.path100}"/>
					<input class="image-id" name="images[${image_index-1}].id" type="hidden" value="${image.id}">
					<input class="image-file" name="images[${image_index-1}].file" type="hidden" value="${image.file}">
					<input class="image-sort" name="images[${image_index-1}].sort" type="hidden" value="${image.sort}">
					<a class="image_close" onclick="return delete_image(this);" href="#"></a>
				</div>
				#{/list}
			</div>
			#{/field}
			<div><span id="placeholder"></span></div>
			#{field 'product.key'}
			<p class="${field.errorClass}">
				<label><strong>&{'product.key'}: </strong></label>
				<input type="text" name="${field.name}" value="${product.key}" class="inputbox"/>
				#{if field.error}
				<img src="/images/user/icons/icon_missing.png" alt="Error">
				<br/>
				<span class="smltxt red">${field.error}</span>
				#{/if}
			</p>
			#{/field}
			#{field 'product.price'}
			<p class="${field.errorClass}">
				<label><strong>&{'product.price'}: </strong></label>
				<input type="text" name="${field.name}"  value="${product.price}" class="inputbox"/>USD
				#{if field.error}
				<img src="/images/user/icons/icon_missing.png" alt="Error">
				<br/>
				<span class="smltxt red">${field.error}</span>
				#{/if}
			</p>
			#{/field}
			#{field 'product.isOn'}
			<p class="${field.errorClass}">
				<label><strong>&{'product.isOn'}: </strong></label>
				<input type="checkbox" name="${field.name}" value="1"#{if product.isOn} checked="checked"#{/if}/>
				#{if field.error}
				<img src="/images/user/icons/icon_missing.png" alt="Error">
				<br/>
				<span class="smltxt red">${field.error}</span>
				#{/if}
			</p>
			#{/field}
			<p>
				<label><strong>&{'product.size'}:</strong></label>
				#{field 'product.length'}
				<p class="${field.errorClass}">
					<label><strong>&{'product.length'}: </strong></label>
					<input type="text" name="${field.name}" value="${product.length}" class="inputbox"/>
					#{if field.error}
					<img src="/images/user/icons/icon_missing.png" alt="Error">
					<br/>
					<span class="smltxt red">${field.error}</span>
					#{/if}
				</p>
				#{/field}
				#{field 'product.width'}
				<p class="${field.errorClass}">
					<label><strong>&{'product.width'}: </strong></label>
					<input type="text" name="${field.name}" value="${product.width}" class="inputbox"/>
					#{if field.error}
					<img src="/images/user/icons/icon_missing.png" alt="Error">
					<br/>
					<span class="smltxt red">${field.error}</span>
					#{/if}
				</p>
				#{/field}
				#{field 'product.height'}
				<p class="${field.errorClass}">
					<label><strong>&{'product.height'}: </strong></label>
					<input type="text" name="${field.name}" value="${product.height}" class="inputbox"/>
					#{if field.error}
					<img src="/images/user/icons/icon_missing.png" alt="Error">
					<br/>
					<span class="smltxt red">${field.error}</span>
					#{/if}
				</p>
				#{/field}
			</p>
			#{field 'product.description'}
			<p class="${field.errorClass}">
				<label><strong>&{'product.description'}: </strong></label>
				<textarea rows="6" cols="50" name="${field.name}" >${product.description}</textarea>
				#{if field.error}
				<img src="/images/user/icons/icon_missing.png" alt="Error">
				<br/>
				<span class="smltxt red">${field.error}</span>
				#{/if}
			</p>
			#{/field}
			<input type="submit" value="保存" class="btn"/>
		#{/form}
	</div>
</div>

#{script 'swfobject.js' /}
#{script 'jquery.uploadify.v2.1.4.min.js' /}
<script type="text/javascript">
function addImage(filename) {
	$('#thumbnails').append('<div class="image_upload">'+
			'<img />'+
			'<input class="image-id" name="images[0].id" type="hidden"/>'+
			'<input class="image-file" name="images[0].file" type="hidden"/>'+
			'<input class="image-sort" name="images[0].sort" type="hidden"/>'+
			'<a class="image_close" onclick="return delete_image(this);" href="#"></a>'+
		'</div>')
	.find('>div:last').find('img').attr('src', "/tmp/thumbnail-" + filename).parent()
	.find('.image-file').val(filename).parent().fadeIn(2000);
	
	sort_images();
}

function delete_image(e){
	if($('#thumbnails div').length<=1){
 		alert('你至少剩一张图片');
 		return false;
 	}
	
	$(e).parent().remove();
	
	var id = $(e).parent().find('.image-id').val();
	var file = $(e).parent().find('.image-file').val();
	file = escape(file);
	
	if(!id){
		id = 0;
	}
	
	var delete_image_url = #{jsAction @seller.ProductImages.delete(':id', ':file') /};
	
	$.get(delete_image_url({'id':id, 'file':file}), function(r){
		alert('删除成功!');
	});
	
	return false;
}

function sort_images(){
	$('#thumbnails>div').sortable('toArray').each(function(i, e){
		$(e).find('.image-id').attr('name', 'images['+i+'].id');
		$(e).find('.image-file').attr('name', 'images['+i+'].file');
		$(e).find('.image-sort').attr('name', 'images['+i+'].sort').val(i);
	});
}

$(function(){
	//$('textarea.editor').ckeditor();

	$('#placeholder').uploadify({
	    'uploader'  : '/flash/uploadify.swf',
	    'script'    : '/image/upload',
	    'cancelImg' : '/images/cancel.png',
	    'buttonImg'	: '/images/upload.jpg',
	    'folder'    : '/uploads',
	    'auto'      : true,
	    'multi'		: false,
	    'sizeLimit' : 10240000,
	    'fileExt'   : '*.jpg;*.gif;*.png',
	    'onComplete': function(event, ID, fileObj, response, data) {
	    	if(response!='error'){
	    		addImage(response);
			}
		}
    });

	 $("#thumbnails").sortable({
		 opacity:0.5,
		 stop:sort_images
	});

	 $('#product_form').submit(function(){
	 	if($('#thumbnails div').length==0){
	 		alert('你至少上传一张图片');
	 		return false;
	 	}
	 });
});
</script>
