#{extends 'main.html' /} 
#{set title:'My Account Index' /}

<div id="left_menu">
	<ul>
		<li><a href="@{buyer.Member.orderlist()}" title="my orders">My Orders</a></li>
		<li><a href="@{buyer.Favorites.index()}" title="my favorites management">My Favorite</a></li>
		<li><a href="@{buyer.Addresses.index()}" title="my addresses ">My Address</a></li>
		<li><a href="@{buyer.Member.setting()}" title="my infomation settings">My Infomatoin</a></li>
		<li><a href="@{buyer.Messages.index()}" title="my internal messages">Messages</a></li>
	</ul>
</div>
<div id="right_user">
#{doLayout /}
</div>