#{extends 'main.html' /} 
#{set title:'My Account' /}

<div id="column-left">
	<div class="box">
		<div class="box-heading">Account</div>
		<div class="box-content">
			<div class="box-category">
				<ul>
					<li><a href="@{buyer.Users.setting()}">My Account</a> </li>
					<li><a href="@{buyer.Orders.index()}">Order History</a></li>
					<li><a href="@{buyer.Addresses.index()}">Addresses</a></li>
					<li><a href="@{buyer.Favorites.index()}">My Favorite</a></li>
					<li><a href="@{buyer.Messages.index()}">Messages</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div id="content">
#{doLayout /}
</div>