#{extends 'main.html' /}
#{set title:user.username+'\'s store' /}
<div class="grid_12">
	<div id="notification"></div>
	<div class="breadcrumb">
		<a href="@{Index.index}">Home</a> » <a href="@{Shops.index(shop.id)}">${user.username}'s
			store</a> » All Items
	</div>
	<div id="column-left">
		<div class="box">
			<div class="box-heading">${user.username}'s store</div>
			<div class="box-content">
				<span>${shop.name}</span><br />
				<p>${shop.description}</p>
				<a href="#">Add to my favorite seller</a>
			</div>
		</div>
		<div class="box">
			<div class="box-heading">Categories</div>
			<div class="box-content">
				<div class="box-category">
					<ul>
						#{if shopcateList && shopcateList.size()>0} #{list shopcateList,
						as:'shopcate'}
						<li><a href="@{Shops.index(shop.id)}?cate=${shopcate.id}"
							class="active">${shopcate.name}</a></li> #{/list} #{/if}

					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="content">
		<div class="product-filter">
			<div class="display">
				<b>Display:</b>
				<div id="list_b"></div>
				<a id="grid_a" onclick="display('grid');">Grid</a>
			</div>
			<div class="limit">
				<strong>Show:</strong> 
				<select onchange="location = this.value;">
					<option value="@{Shops.index(shop.id, order, 15)}"${limit==15?' selected="selected"'.raw():''}>15</option>
					<option value="@{Shops.index(shop.id, order, 25)}"${limit==25?' selected="selected"'.raw():''}>25</option>
					<option value="@{Shops.index(shop.id, order, 50)}"${limit==50?' selected="selected"'.raw():''}>50</option>
					<option value="@{Shops.index(shop.id, order, 75)}"${limit==75?' selected="selected"'.raw():''}>75</option>
					<option value="@{Shops.index(shop.id, order, 100)}"${limit==100?' selected="selected"'.raw():''}>100</option>
				</select>
			</div>
			<div class="sort">
				<strong>Sort By:</strong> 
				<select onchange="location = this.value;">
					<option value="@{Shops.index(shop.id, null, limit)}"${order==null?' selected="selected"'.raw():''}>Default</option>
					<option value="@{Shops.index(shop.id, 'price', limit)}"${order=='price'?' selected="selected"'.raw():''}>Price (Low &gt; High)</option>
					<option value="@{Shops.index(shop.id, 'price_desc', limit)}"${order=='price_desc'?' selected="selected"'.raw():''}>Price (High &gt; Low)</option>
					<option value="@{Shops.index(shop.id, 'rating_desc', limit)}"${order=='rating_desc'?' selected="selected"'.raw():''}>Rating (Highest)</option>
					<option value="@{Shops.index(shop.id, 'rating', limit)}"${order=='rating'?' selected="selected"'.raw():''}>Rating (Lowest)</option>
				</select>
			</div>
		</div>
		<div class="product-list">
			#{if paginator.records && paginator.records.size()>0}
	   		#{list paginator.records, as:'product'}
			<div>
				<div class="right">
					<div class="price">
						${product.price}<br/>
						<span class="price-tax">Ex Tax: $500.00</span>
					</div>
					<div class="cart">
						<a onclick="addToCart('${product.id}');" class="button">
							<span>Add to Cart</span>
						</a>
					</div>
					<div class="wishlist">
						<a onclick="addToWishList('${product.id}');">Add to Wish List</a>
					</div>
					<div class="compare">
						<a onclick="addToCompare('${product.id}');">Add to Compare</a>
					</div>
				</div>
				<div class="left">
					<div class="image">
						<a href="@{Products.view(product.id)}">
							<img src="${product.image?product.image.path100:null}"/>
						</a>
					</div>
					<div class="name">
						<a href="@{Products.view(product.id)}">${product.name}</a>
					</div>
					<div class="description">${product.summary}</div>
				</div>
			</div>
			 #{/list}
			  #{/if}
		</div>
		#{page model:paginator /}
	</div>
</div>

<script type="text/javascript">
<!--
	function display(view) {
		if (view == 'list') {
			$('.product-grid').attr('class', 'product-list');

			$('.product-list > div').each(
					function(index, element) {

						var price = $(element).find('.price').html();
						html = '<div class="right">';
						html += '<div class="price">' + price + '</div>';
						html += '  <div class="cart">'
								+ $(element).find('.cart').html()
								+ '</div>';
						html += '  <div class="wishlist">'
								+ $(element).find('.wishlist').html()
								+ '</div>';
						html += '  <div class="compare">'
								+ $(element).find('.compare').html()
								+ '</div>';
						html += '</div>';

						html += '<div class="left">';

						var image = $(element).find('.image').html();

						if (image != null) {
							html += '<div class="image">' + image
									+ '</div>';
						}

						html += '  <div class="name">'
								+ $(element).find('.name').html()
								+ '</div>';
						html += '  <div class="description">'
								+ $(element).find('.description').html()
								+ '</div>';

						var rating = $(element).find('.rating').html();

						if (rating != null) {
							html += '<div class="rating">' + rating
									+ '</div>';
						}

						html += '</div>';

						$(element).html(html);
					});

			$('.display')
					.html(
							'<b>Display:</b> <div id="list_b"></div>  <a id="grid_a" onclick="display(\'grid\');">Grid</a>');

			$.cookie('display', 'list');
		} else {
			$('.product-list').attr('class', 'product-grid');

			$('.product-grid > div').each(
					function(index, element) {
						html = '';

						var image = $(element).find('.image').html();

						if (image != null) {
							html += '<div class="image">' + image
									+ '</div>';
						}

						html += '<div class="name">'
								+ $(element).find('.name').html()
								+ '</div>';
						html += '<div class="description">'
								+ $(element).find('.description').html()
								+ '</div>';

						var price = $(element).find('.price').html();

						if (price != null) {
							html += '<div class="price">' + price
									+ '</div>';
						}

						var rating = $(element).find('.rating').html();

						if (rating != null) {
							html += '<div class="rating">' + rating
									+ '</div>';
						}

						html += '<div class="cart">'
								+ $(element).find('.cart').html()
								+ '</div>';
						html += '<div class="wishlist">'
								+ $(element).find('.wishlist').html()
								+ '</div>';
						html += '<div class="compare">'
								+ $(element).find('.compare').html()
								+ '</div>';

						$(element).html(html);
					});

			$('.display')
					.html(
							'<b>Display:</b> <a id="list_a" onclick="display(\'list\');">List</a>  <div id="grid_b"></div>');

			$.cookie('display', 'grid');
		}
	}

	view = $.cookie('display');

	if (view) {
		display(view);
	} else {
		display('list');
	}
//-->
</script>
<div class="clear"></div>