#{extends 'buyer/layout.html' /} 
#{set title:'Index' /}

<h2>My Order List</h2>
#{message /}

<table>
	<thead>
		<tr>
			<th>Order No</th>
			<th>Order time</th>
			<th>Total Price</th>
			<th>Order status</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		#{if orders && orders.size()>0}
	    #{list orders, as:'order'}
	    <tr>
	    	<td>${order.id}</td>
   			<td>${order.created}</td>
   			<td>${order.totalPrice}</td>
   			<td>${order.orderStatus}</td>
   			<td></td>
   		</tr>
	    #{/list}
	  	 <tr>
	    		<td colspan="7">#{page model:paginator /} </td>
	    	</tr>
	    #{/if}
	    #{else}
	    	<tr>
	    		<td colspan="7">No Order info. </td>
	    	</tr>
	    #{/else}
	</tbody>
</table>