#{extends 'seller/layouts/main.html' /} 
#{set title:'店铺信息管理' /}

<div class="contentcontainer">
	<div class="headings alt">
		<h2>店铺信息修改</h2>
	</div>
	<div class="contentbox">	
		#{if shop!=null && shop.id}
		<h3><a href="@{Shops.index(shop.id)}" target="_blank" style="float: right;">查看我的店铺</a></h3>
		#{/if}
		#{user.message /}
		#{form @save()}
			<input name="shop.id" type="hidden" value="${shop?.id}"/>
			#{field 'shop.name'}
			<p class="${field.errorClass}">
				<label><strong>&{'shop.name'}: </strong></label>
				<input type="text" name="${field.name}" id="name" value="${shop?.name}" class="inputbox"/>
				#{if field.error}
				<img src="/images/user/icons/icon_missing.png" alt="Error">
				<br/>
				<span class="smltxt red">${field.error}</span>
				#{/if}
			</p>
			#{/field}
			#{field 'shop.key'}
			<p class="${field.errorClass}">
				<label><strong>&{'shop.key'}: </strong></label>
				<input type="text" name="${field.name}" value="${shop?.key}"  class="inputbox"/>
				#{if field.error}
				<img src="/images/user/icons/icon_missing.png" alt="Error">
				<br/>
				<span class="smltxt red">${field.error}</span>
				#{/if}
			</p>
			#{/field}
			#{field 'shop.description'}
			<p class="${field.errorClass}">
				<label><strong>&{'shop.description'}: </strong></label>
				<textarea rows="6" cols="50" name="${field.name}" >${shop?.description}</textarea>
				#{if field.error}
				<img src="/images/user/icons/icon_missing.png" alt="Error">
				<br/>
				<span class="smltxt red">${field.error}</span>
				#{/if}
			</p>
			#{/field}
			<input type="submit" value="保存" class="btn"/>
		#{/form}
	</div>
</div>