#{extends 'seller/main.html' /} 
#{set title:'店铺分类管理' /}

<h2>店铺分类管理</h2>
#{ifErrors}
<p><span class="error">保存失败</span></p>
#{/ifErrors}
#{if flash.error}
<span class="error">${flash.error}</span>
#{/if}
#{if flash.success}
    <p class="success">${flash.success}</p>
#{/if}
#{form @savecategory()}
	<input name="shopcate.id" type="hidden" value="${shopcate?.id}"/>
	#{field 'shopcate.name'}
	<p class="${field.errorClass}">
		<strong>&{'shopcate.name'}: </strong><font color="red">*</font> <input
			type="text" name="${field.name}" id="name"
			value="${shopcate?.name}" size="30" /><span class="error">${field.error}</span>
	</p>
	#{/field}
	<p>
		<input type="submit" value="保存" />
	</p>
#{/form}