<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="${_response_encoding}">
<title>#{get 'title' /}</title>
<link href="/css/user/layout.css" rel="stylesheet" type="text/css" />
<link href="/css/wysiwyg.css" rel="stylesheet" type="text/css" />
<!-- Theme Start -->
<link href="/css/user/themes/blue/styles.css" rel="stylesheet" type="text/css" />
<!-- Theme End -->
#{get 'moreStyles' /}
#{get 'moreScripts' /}
</head>
<body id="homepage">
    #{user_header/}
    
    <!-- Top Breadcrumb Start -->
    <div id="breadcrumb">
    	<ul>	
        	<li><img src="/images/user/icons/icon_breadcrumb.png" alt="Location" /></li>
        	<li><strong>Location:</strong></li>
            <li><a href="#" title="">Sub Section</a></li>
            <li>/</li>
            <li class="current">Control Panel</li>
        </ul>
    </div>
    <!-- Top Breadcrumb End -->
     
    <!-- Right Side/Main Content Start -->
    <div id="rightside">
   		#{doLayout /}
   		
        <div id="footer">
        	&copy; Copyright 2010 Your Company Name
        </div>
    </div>
    <!-- Right Side/Main Content End -->
    
    <!-- Left Dark Bar Start -->
    <div id="leftside">
    	<div class="user">
        	<img src="/images/user/avatar.png" width="44" height="44" class="hoverimg" alt="Avatar" />
            <p>Logged in as:</p>
            #{if session.userid }
            <p class="username">Administrator</p>
            <p class="userbtn"><a href="#" title="">Profile</a></p>
            <p class="userbtn"><a href="@{buyer.Member.logout()}" title="">Log out</a></p>
	    	#{/if}
        </div>
        <div class="notifications">
        	<p class="notifycount"><a href="" title="" class="notifypop">10</a></p>
            <p><a href="" title="" class="notifypop">New Notifications</a></p>
            <p class="smltxt">(Click to open notifications)</p>
        </div>
        
        <ul id="nav">
        	<li>
                <ul class="navigation">
                    <li class="heading selected">首页</li>
                </ul>
            </li>
            <li>
                <a class="expanded heading">商铺管理</a>
                 <ul class="navigation">
                    <li><a href="#" title="">商铺信息修改</a></li>
                    <li><a href="#" title="">商铺分类管理</a></li>
                    <li><a href="#" title="">产品管理</a></li>
                </ul>
            </li>
            <li>
                <a class="expanded heading">订单管理</a>
                 <ul class="navigation">
                    <li><a href="#" title="">待发货订单</a></li>
                    <li><a href="#" title="">待付款订单</a></li>
                    <li><a href="#" title="">待确认订单</a></li>
                    <li><a href="#" title="">已处理订单</a></li>
                </ul>
            </li>
            <li><a class="expanded heading">账户管理</a>
                <ul class="navigation">
                    <li><a href="#" title="" class="likelogin">修改账户信息</a></li>
                    <li><a href="#" title="">修改密码</a></li>
                    <li><a href="#" title="">修改邮箱</a></li>
                </ul>
            </li>            
        </ul>
    </div>
    <!-- Left Dark Bar End --> 
    
    #{user_footer/}
</body>
</html>
