body{
	font-size: 12px;
}

a{
	color: #000;
}

.header h2{
	font-size: 18px;
}

.nav{
	float:right;
}

.navs {
	height: 29px;
	margin: 5px 0;
	background: #16364C;
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
}

.navs ul a{
	text-decoration: none;
}

.navs ul{
	margin: 0px;
}
.navs ul li {
	float: left;
	margin-right: 30px;
	margin-left: 50px;
	list-style-type: none;
	height: 29px;
	line-height: 29px;
	text-align: center;
	line-height: 29px;
	list-style-type: none;
	width: 100px;
}

.navs ul li a {
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
}
.navs ul li a:visited{
	color: #ffffff;
}
.navs ul li a:hover{
	color: #FFCC09;
}

.left_nav{
	list-style-type: none;
	margin: 5px;
	padding: 0 5px;
	font-size: 14px;
	font-weight: bold;
}

.left_nav li{
	padding: 5px;
	font-size: 14px;
}

.left_nav ul{
	margin: 3px;
	padding: 0 5px;
}

.left_nav ul li{
	padding: 1px;
	font-size: 12px;
}

.content{
	border-top: 1px solid #444;
	padding-top: 5px;
}

.footer{
	text-align: center;
}

.footer a{
	text-decoration: none;
}

.footer a:VISITED {
	color: #000;
}