#{extends 'main.html' /}
		<div class="grid_12">
			<div id="notification"></div>
			<div id="content">
				<div class="slideshow">
					<div id="slideshow0" class="nivoSlider"
						style="width: 950px; height: 296px;">
						<a href="http://themeforest.net/item/gentle/334663?ref=tomsky"><img
							src="http://tzelewski.co.uk/template/gentle/image/cache/data/n/slide3-950x296.jpg"
							alt="gentle" />
						</a> <a href="http://themeforest.net/item/gentle/334663?ref=tomsky"><img
							src="http://tzelewski.co.uk/template/gentle/image/cache/data/n/slide2-950x296.jpg"
							alt="gentle" />
						</a> <a href="http://themeforest.net/item/gentle/334663?ref=tomsky"><img
							src="http://tzelewski.co.uk/template/gentle/image/cache/data/n/slide1-950x296.jpg"
							alt="gentle OC 1.5 THEME" />
						</a>
					</div>
				</div>
				<script type="text/javascript">
				$(document).ready(function() {
					$('#slideshow0').nivoSlider();
				});
				--></script>
				<h1 style="display: none;">Gentle Premium OpenCart 1.5 theme</h1>
				<div id="banner0" class="banner">
					<div>
						<a href="http://themeforest.net/item/gentle/334663?ref=tomsky"><img
							src="http://tzelewski.co.uk/template/gentle/image/cache/data/n/banner3-300x126.jpg"
							alt="opencart premium theme" title="opencart premium theme" />
						</a>
					</div>
				</div>
				<script type="text/javascript"
					src="catalog/view/javascript/jquery/jquery.cycle.js"></script>
				<script type="text/javascript">
				var banner = function() {
					$('#banner0').cycle({
						before: function(current, next) {
							$(next).parent().height($(next).outerHeight());
						}
					});
				}
				
				setTimeout(banner, 2000);
				</script>
				<div id="banner1" class="banner">
					<div>
						<a href="http://themeforest.net/item/gentle/334663?ref=tomsky"><img
							src="http://tzelewski.co.uk/template/gentle/image/cache/data/n/banner2-300x126.jpg"
							alt="gentle opencart 1.5 theme" title="gentle opencart 1.5 theme" />
						</a>
					</div>
				</div>
				<script type="text/javascript"
					src="catalog/view/javascript/jquery/jquery.cycle.js"></script>
				<script type="text/javascript">var banner = function() {
	$('#banner1').cycle({
		before: function(current, next) {
			$(next).parent().height($(next).outerHeight());
		}
	});
}

setTimeout(banner, 2000);
</script>
				<div id="banner2" class="banner">
					<div>
						<a href="http://themeforest.net/item/gentle/334663?ref=tomsky"><img
							src="http://tzelewski.co.uk/template/gentle/image/cache/data/n/banner1-300x126.jpg"
							alt="gentle opencart template" title="gentle opencart template" />
						</a>
					</div>
				</div>
				<script type="text/javascript"
					src="catalog/view/javascript/jquery/jquery.cycle.js"></script>
				<script type="text/javascript">var banner = function() {
	$('#banner2').cycle({
		before: function(current, next) {
			$(next).parent().height($(next).outerHeight());
		}
	});
}

setTimeout(banner, 2000);
</script>
				<div class="box">
					<div class="box-heading">Featured</div>


					<div class="box-content">
						<div class="box-product">
							<div>
								<div class="image">
									<a
										href="http://tzelewski.co.uk/template/gentle/index.php?route=product/product&amp;product_id=41"><img
										src="http://tzelewski.co.uk/template/gentle/image/cache/data/P/49750-apple-tv1-180x180.jpg"
										alt="iMac" />
									</a>
								</div>
								<div class="name">
									<a
										href="http://tzelewski.co.uk/template/gentle/index.php?route=product/product&amp;product_id=41">iMac</a>
								</div>
								<div class="price">$587.50</div>
								<div class="cart">
									<a onclick="addToCart('41');" class="button"><span>Add
											to Cartspan>
									</a>
								</div>
							</div>
							<div>
								<div class="image">
									<a
										href="http://tzelewski.co.uk/template/gentle/index.php?route=product/product&amp;product_id=40"><img
										src="http://tzelewski.co.uk/template/gentle/image/cache/data/sony_vaio_4-180x180.jpg"
										alt="iPhone" />
									</a>
								</div>
								<div class="name">
									<a
										href="http://tzelewski.co.uk/template/gentle/index.php?route=product/product&amp;product_id=40">iPhone</a>
								</div>
								<div class="price">$118.68</div>
								<div class="cart">
									<a onclick="addToCart('40');" class="button"><span>Add
											to Cart</span>
									</a>
								</div>
							</div>
							<div>
								<div class="image">
									<a
										href="http://tzelewski.co.uk/template/gentle/index.php?route=product/product&amp;product_id=48"><img
										src="http://tzelewski.co.uk/template/gentle/image/cache/data/P/The-ZAGGmate-product-manufacturing-180x180.jpg"
										alt="iPod Classic" />
									</a>
								</div>
								<div class="name">
									<a
										href="http://tzelewski.co.uk/template/gentle/index.php?route=product/product&amp;product_id=48">iPod
										Classic</a>
								</div>
								<div class="price">
									<span class="price-old">$1,175.00</span> <span
										class="price-new">$1,081.00</span>
								</div>
								<div class="cart">
									<a onclick="addToCart('48');" class="button"><span>Add
											to Cart</span>
									</a>
								</div>
							</div>
							<div class="no_right_margin">
								<div class="image">
									<a
										href="http://tzelewski.co.uk/template/gentle/index.php?route=product/product&amp;product_id=32"><img
										src="http://tzelewski.co.uk/template/gentle/image/cache/data/P/iH232HPB-180x180.jpg"
										alt="iPod Touch" />
									</a>
								</div>
								<div class="name">
									<a
										href="http://tzelewski.co.uk/template/gentle/index.php?route=product/product&amp;product_id=32">iPod
										Touch</a>
								</div>
								<div class="price">$117.50</div>
								<div class="cart">
									<a onclick="addToCart('32');" class="button"><span>Add
											to Cart</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="clear"></div>