#{extends 'main.html' /}

<div class="grid_12">
</div>
<div id="footer-top-outside">
	<div id="customHome" class="container_12">

		<div id="about_us_footer" class="grid_9">
			<h2>About Gentle</h2>
			<p>${models.Config.get('site.about_us')}</p>
		</div>

		<div id="contact_footer" class="grid_3">
			<h2>Contact Gentle</h2>
			<ul>
				<!-- TELEPHONE 1 -->
				#{if models.Config.get('site.telephone')!=null}<li id="footer_telephone">${models.Config.get('site.telephone')}</li>#{/if}
				<!-- FAX  -->
				#{if models.Config.get('site.fax')!=null}<li id="footer_fax">${models.Config.get('site.fax')}</li>#{/if}
				<!-- EMAIL 1 -->
				#{if models.Config.get('site.email')!=null}<li id="footer_email">${models.Config.get('site.email')}</li>#{/if}
			</ul>
		</div>
	</div>
</div>