#{extends 'main.html' /}

<div class="grid_12">
	<div class="breadcrumb">
		<a
			href="http://tzelewski.co.uk/template/gentle/index.php?route=common/home">Home</a>
		» <a
			href="http://tzelewski.co.uk/template/gentle/index.php?route=information/information&amp;information_id=4">About
			Us</a>
	</div>

	<div id="content">
		<h1>${doc.title}</h1>
		<p>${doc.content}</p>
	</div>

</div>