#{ifErrors}
<div class="status error">
	<p class="closestatus"><a href="" title="Close">x</a></p>
	<p>
		<img src="/images/user/icons/icon_error.png" alt="Success">
		<span>Error!</span>
		保存失败
	</p>
</div>
#{/ifErrors}
#{if flash.error}
<div class="status error">
	<p class="closestatus"><a href="" title="Close">x</a></p>
	<p>
		<img src="/images/user/icons/icon_error.png" alt="Error">
		<span>Error!</span>
		${flash.error}
	</p>
</div>
#{/if}
#{if flash.success}
<div class="status success">
	<p class="closestatus"><a href="" title="Close">x</a></p>
	<p>
		<img src="/images/user/icons/icon_success.png" alt="Success">
		<span>Success!</span>
		${flash.success}
	</p>
</div>
#{/if}