#{extends 'seller/layouts/main.html' /} 
#{set title:'订单 管理' /}

<div class="contentcontainer">
	<div class="headings alt">
		<h2>待确认订单</h2>
	</div>
	<div class="contentbox">
		#{user.message /}
		<table>
			<thead>
				<tr>
					<th>&{'order.id'}</th>
					<th>&{'order.user.username'}</th>
					<th>&{'order.country.name'}</th>
					<th>&{'order.totalprice'}(USD)</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				
			     #{paginate.list items:paginator, as:'sellerOrder'}
			    <tr>
		   			<td>${sellerOrder.order.id}</td>
		   			<td>${sellerOrder.order.user.username}</td>
		   			<td>${sellerOrder.order.country.name}</td>
		   			<td>${sellerOrder.totalPrice}</td>
		   			<td>
		   				<a href="@{show(sellerOrder.id)}">详细信息</a>&nbsp;&nbsp;
		   				</td>
		   		</tr>
			    #{/paginate.list}
			    #{else}
			  	 <tr>
			    	<td colspan="7"> </td>
			    </tr>
			    	<tr>
			    		<td colspan="7">没有订单.</td>
			    	</tr>
			    #{/else}
			</tbody>
		</table>
		#{paginate.controls items:paginator /}
		#{paginate.summary items:paginator /}
	</div>
</div>