#{extends 'seller/layouts/main.html' /} 
#{set title:'订单 管理' /}

<div class="contentcontainer">
	<div class="headings alt">
		<h2>订单详细信息</h2>
	</div>
	<div class="contentbox">
		#{user.message /}
		<table>
			<thead>
				<tr>
					<th>产品号</th>
					<th>产品名</th>
					<th>图片</th>
					<th>描述</th>
					<th>单价</th>
					<th>数量</th>
					<th>总价(USD)</th>
				</tr>
			</thead>
			<tbody>
			     #{paginate.list items:sellerOrder.orderProducts, as:'orderProduct'}
			    <tr>
		   			<td>${orderProduct.product.id}</td>
		   			<td>${orderProduct.product.name}</td>
		   			<td>#{if orderProduct.product.image}<img src="${orderProduct.product.image.path100}"/>#{/if}</td>
		   			<td>${orderProduct.product.description}</td>
		   			<td>${orderProduct.price}</td>
		   			<td>${orderProduct.number}</td>
		   			<td>${orderProduct.price*orderProduct.number}</td>
		   		</tr>
		   		#{/paginate.list}
			  
			    #{else}
			  	 <tr>
			    	<td colspan="7"> </td>
			    </tr>
			    	<tr>
			    		<td colspan="7">没有订单.</td>
			    	</tr>
			    #{/else}
			</tbody>
		</table>
		
		#{paginate.controls items:paginator /}
		#{paginate.summary items:paginator /}
	</div>
</div>