#{extends 'main.html' /}
#{set title:'Forget Password' /}

<div class="grid_12">
	<div id="notification"></div>
	<div id="content">
		<div class="breadcrumb">
			<a
				href="@{Index.index}">Home</a>
			» <a
				href="@{buyer.BuyerApplication.index()}">Account</a>
			» Forget password
		</div>
		<h1>Reset my account password</h1>
		<p>
			Please tell us your registered email address, and we’ll send you an email with a link for you to reset password.
		</p>		
		#{if flash.error}
		<p><span class="error">${flash.error}</span></p>
		#{/if}	
		#{form @buyer.Users.forgetpasspro(),id:"forgetpass"}
			<table class="form">
				<tbody>
					#{field 'email'}
					<tr>
						<td><span class="required">*</span> Email address:</td>
						<td><input type="text" name="${field.name}" value="${flash[field.name]}" ><span class="error">${field.error}</span></td>
					</tr>
					#{/field}
					#{field 'code'}
					<tr>
						<td><span class="required">*</span> Verify code :</td>
						<td><input type="text" id="code" name="${field.name}" value="${flash[field.name]}" size="6"/>
						<img id="captchaImg" style="width:100px;height:30px;" src="/captcha"><a href="#" onclick="$('#captchaImg').attr('src','/captcha');return false;">Refresh the image</a><span class="error">${field.error}</span></td>
					</tr>
					#{/field}
					<tr>
						<td></td>
						<td><br/><a onclick="$('#forgetpass').submit();" class="button"><span>&nbsp;&nbsp;Submit&nbsp;&nbsp;</span></td>
					</tr>
				</tbody>
			</table>
		#{/form}
	</div>
</div>