#{extends 'main.html' /}
#{set title:'Forget Password' /}

<div class="grid_12">
	<div id="notification"></div>
	<div id="content">
		<div class="breadcrumb">
			<a
				href="@{Index.index}">Home</a>
			» <a
				href="@{buyer.BuyerApplication.index()}">Account</a>
			» Forget password
		</div>
		<h1>Reset my account password</h1>				
		#{if flash.success}
	    	<p class="success">${flash.success}</p>
		#{/if}
		<p>
			Check your email(${user.email})
			If the email address you provide is the one you used for sign-up, we’ll send you an email for you to reset password. 
			If you can’t find it in your mail Inbox, please check your Junk box.
		</p>
	</div>
</div>