#{extends 'main.html' /}

<div class="grid_12">
	<div id="notification"></div>
	<div id="content">
		<div class="breadcrumb">
			<a href="@{Index.index}">Home</a>
			» <a href="@{buyer.Users.login()}">Login</a>
		</div>
		<h1>Account Login</h1>
		<div class="login-content">
			<div class="left">
				<h2>New Customer</h2>
				<div class="content">
					<p>
						<b>Register Account</b>
					</p>
					<p>By creating an account you will be able to shop faster, be
						up to date on an order's status, and keep track of the orders you
						have previously made.</p>
					<a
						href="@{buyer.Users.register()}"
						class="button"><span>Continue</span>
					</a>
				</div>
			</div>
			<div class="right">
				<h2>Returning Customer</h2>				
				#{form @buyer.Users.signin(),id:"login"}
					<div class="content">
						<p>I am a returning customer</p>
						#{ifErrors}
						<p>Oops…</p>
						#{/ifErrors} 
						#{if flash.error}
						<p><span class="error">${flash.error}</span></p>
						#{/if}
						<b>E-Mail Address:</b><br> <input type="text" name="email"
							value="${flash['email']}" > <span class="error">#{error 'email' /}</span><br> <br> <b>Password:</b><br> <input
							type="password" name="password" value=""> <span class="error">#{error 'password' /}</span><br> <a
							href="@{buyer.Users.forgetpass()}">Forgotten
							Password</a><br> <br> <a onclick="$('#login').submit();"
							class="button"><span>Login</span>
						</a>
					</div>
				#{/form}
			</div>
		</div>
	</div>
	<script type="text/javascript">
	<!--
		$('#login input').keydown(function(e) {
			if (e.keyCode == 13) {
				$('#login').submit();
			}
		});
	//-->
	</script>

</div>