#{extends 'main.html' /}
#{set title:'Successful' /}

<div class="grid_12">
	<div id="notification"></div>
	<div id="content">
		<div class="breadcrumb">
			<a
				href="@{Index.index}">Home</a>
			» <a
				href="@{buyer.BuyerApplication.index()}">Account</a>
			» <a

				href="@{buyer.Users.register()}">Register</a>
		</div>
		<h1>Register Account</h1>
		#{if flash.success}
	    	<p class="success">${flash.success}</p>
		#{/if}

		<a href="@{buyer.Users.login()}" class="button"><span>Login</span></a>
	</div>
</div>
