#{extends 'main.html' /}

<div class="grid_12">
	<div id="notification"></div>
	<div id="content">
		<div class="breadcrumb">
			<a href="@{Index.index}">Home</a>
			» <a href="@{buyer.Users.register}">Register</a>
		</div>
		<h1>Register Account</h1>
		<p>
			If you already have an account with us, please login at the <a
				href="@{buyer.Users.login}">login page</a>.
		</p>		
		#{ifErrors}
		<p class="error">Oops…</p>
		#{/ifErrors} 	
		#{form @buyer.Users.reg(),id:"register"}
			<h2>Your Personal Details</h2>
			<div class="content">
				<table class="form">
					<tbody>
						#{field 'user.email'}
						<tr>
							<td><span class="required">*</span> E-Mail:</td>
							<td><input type="text" name="${field.name}" value="${flash[field.name]}" ><span class="error">${field.error}</span></td>
						</tr>
						#{/field}
						#{field 'user.username'}
						<tr>
							<td><span class="required">*</span> Username:</td>
							<td><input type="text" name="${field.name}" value="${flash[field.name]}" ><span class="error">${field.error}</span></td>
						</tr>
						#{/field}
						#{field 'user.firstName'}
						<tr>
							<td><span class="required">*</span> First Name:</td>
							<td><input type="text" name="${field.name}" value="${flash[field.name]}" ><span class="error">${field.error}</span></td>
							<td></td>
						</tr>
						#{/field}
						#{field 'user.lastName'}
						<tr>
							<td><span class="required">*</span> Last Name:</td>
							<td><input type="text" name="${field.name}" value="${flash[field.name]}" ><span class="error">${field.error}</span></td>
						</tr>
						#{/field}
					</tbody>
				</table>
			</div>
			<h2>Your Password</h2>
			<div class="content">
				<table class="form">
					<tbody>
						#{field 'user.password'}
						<tr>
							<td><span class="required">*</span> Password:</td>
							<td><input type="password" name="${field.name}" value=""><span class="error">${field.error}</span>
							</td>
						</tr>
						#{/field}
						#{field 'repassword'}
						<tr>
							<td><span class="required">*</span> Password Confirm:</td>
							<td><input type="password" name="${field.name}" value="" id="repassword"><span class="error">${field.error}</span>
							</td>
						</tr>
						#{/field}
					</tbody>
				</table>
			</div>
			<h2>Newsletter</h2>
			<div class="content">
				<table class="form">
					<tbody>
						<tr>
							<td>Subscribe:</td>
							<td><input type="radio" name="newsletter" value="1">
								Yes <input type="radio" name="newsletter" value="0"
								checked="checked"> No</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="buttons">
				<div class="left">
					I have read and agree to the <a class="fancybox"
						href="/doc/pivacy_policy.html" alt="Privacy Policy"><b>Privacy Policy</b>
					</a> <input type="checkbox" name="agree" value="1" id="agree" checked="checked"> <a
						onclick="$('#register').submit();" class="button"><span>Continue</span>
					</a>
				</div>
			</div>
		#{/form}
	</div>
</div>
<script type="text/javascript">
<!--
$('#register').submit(function(){
	if($('#agree').attr("checked")==false){
		alert('Please argee to the Privacy Policy');
		return false;
	}
});
//-->
</script>