#{extends 'main.html' /} #{set title:'Forget Password' /}

<div class="grid_12">
	<div id="notification"></div>
	<div id="column-right">
		<div class="box">
			<div class="box-heading">Account</div>
			<div class="box-content">
				<ul>
					<li><a
						href="http://tzelewski.co.uk/template/gentle/index.php?route=account/login">Login</a>
						/ <a
						href="http://tzelewski.co.uk/template/gentle/index.php?route=account/register">Register</a>
					</li>
					<li><a
						href="http://tzelewski.co.uk/template/gentle/index.php?route=account/forgotten">Forgotten
							Password</a></li>
					<li><a
						href="http://tzelewski.co.uk/template/gentle/index.php?route=account/account">My
							Account</a></li>
					<li><a
						href="http://tzelewski.co.uk/template/gentle/index.php?route=account/wishlist">Wish
							List</a></li>
					<li><a
						href="http://tzelewski.co.uk/template/gentle/index.php?route=account/order">Order
							History</a></li>
					<li><a
						href="http://tzelewski.co.uk/template/gentle/index.php?route=account/download">Downloads</a>
					</li>
					<li><a
						href="http://tzelewski.co.uk/template/gentle/index.php?route=account/return">Returns</a>
					</li>
					<li><a
						href="http://tzelewski.co.uk/template/gentle/index.php?route=account/transaction">Transactions</a>
					</li>
					<li><a
						href="http://tzelewski.co.uk/template/gentle/index.php?route=account/newsletter">Newsletter</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="content">
		<div class="breadcrumb">
			<a href="@{Index.index}">Home</a> » <a href="@{buyer.BuyerApplication.index()}">Account</a>
			» Reset Password
		</div>
		<h1>Reset Password</h1>
		<p>Password reset successful.</p>
		#{if flash.success}
	    	<p class="success">${flash.success}</p>
		#{/if}
		<p>

			<a href="@{buyer.Users.login()}" class="button"><span>Login</span></a>
		</p>
	</div>
</div>
