#{extends 'main.html' /} #{set title:'Forget Password' /}

<div class="grid_12">
	<div id="notification"></div>
	<div id="content">
		<div class="breadcrumb">
			<a href="@{Index.index}">Home</a> 
			» <a href="@{buyer.BuyerApplication.index()}">Account</a>
			» Reset Password
		</div>
		<h1>Reset Password</h1>
		<p>Please save your new password in case you forget it. You’ll be
			asked for it when you place an order, check an order's status, and
			access your account detail information</p>				
		#{if flash.error}
		<p><span class="error">${flash.error}</span></p>
		#{/if}
		#{form @buyer.Users.resetpasspro(),id:"resetpass"}
		<div class="content">
			<table class="form">
				<tbody>
					#{field 'password'}
					<tr>
						<td><span class="required">*</span> New password:</td>
						<td><input type="password" name="${field.name}"
							value="${flash[field.name]}"><span class="error">${field.error}</span>
						</td>
					</tr>
					#{/field}
					#{field 'repassword'}
					<tr>
						<td><span class="required">*</span> Re - enter password:</td>
						<td><input type="password" name="${field.name}"
							value="${flash[field.name]}"><span class="error">${field.error}</span>
						</td>
					</tr>
					#{/field}
					<tr>
						<td><input type="hidden" name="email" value="${email}">
							<input type="hidden" name="key" value="${key}"> </td>
						<td><a onclick="$('#resetpass').submit();" class="button"><span>Submit</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		#{/form}
	</div>
</div>