#{extends 'main.html' /}
#{set title:'Successful' /}

<div class="grid_12">
	<div id="notification"></div>
	<div id="content">
		<div class="breadcrumb">
			<a
				href="@{Index.index}">Home</a>
			» <a
				href="@{buyer.BuyerApplication.index()}">Account</a>
			» <a
				href="@{buyer.Users.login()}">Login</a>
		</div>
		<h1>Account Login</h1>
		#{if flash.success}
	    	<p class="success">${flash.success}</p>
		#{/if}
		<a href="@{buyer.BuyerApplication.index()}" class="button"><span>My Account</span></a>
		#{if jumpurl!=null}
		<script type="text/javascript">
		<!--
		window.location='${jumpurl}';
		//-->
		</script>
		#{/if}
	</div>
</div>