html {
	overflow: -moz-scrollbars-vertical;
	margin: 0;
	padding: 0;
}
body {
	
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
body, td, th, input, textarea, select, a {
	font-size: 12px;
}
h1, .welcome {
	
	margin-top: 0px;
	font-size: 22px;
	font-weight: normal;
	text-shadow: 0 0 1px rgba(0, 0, 0, .01);
	
  
    

}
h1 {
	padding-bottom: 15px;
	 background: url("/images/spacer.png") repeat-x scroll center bottom transparent;
}
h2 {
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 5px;
	font-weight:normal;
}
p {
	margin-top: 0px;
	margin-bottom: 20px;
	line-height:20px;
}
a, a:visited, a b {

	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
a img {
	border: none;
}
form {
	padding: 0;
	margin: 0;
	display: inline;
}

input[type='text'], input[type='password'], textarea {
	background: #f6f6f6;
	border: 1px solid #f6f6f6;
	padding: 3px;
	margin-left: 0px;
	margin-right: 0px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}
input[type="checkbox"] {
    background: none repeat scroll 0 0 red;
}
select {
	background: #F6F6F6;
	border: 1px solid #F6F6F6;
	padding: 2px;
}
label {
	cursor: pointer;
}
ul {
    list-style: disc outside url("/images/list1.png");
    padding-left: 15px;
}
ul li {
    
}
/* layout */
#container {
     box-shadow: 0 12px 15px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 12px 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 12px 15px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    text-align: left;
    overflow:hidden;
   
}
#column-left {
	float: left;
	width: 220px;
	margin-bottom:30px;
}
#column-right {
	display:none;
}
#content {
	
	margin-bottom: 20px;
	
}
#column-left + #column-right + #content, #column-left + #content {
	margin-left: 240px;
}
#column-right + #content {
	}
/* header */
#header {
	
	margin-bottom: 7px;
	padding-bottom: 4px;
	position: relative;
	z-index: 99;
}
#header #logo {
	float:left;
	width:250px;
}
#header-right{
	float:right;
	width:520px;
	      
}
.switcher {
    background: url("/images/dropdown.png") no-repeat scroll 100% 9px white;
    border-color: #EDEDED;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 11px;
    padding-right: 20px;
    position: absolute;
    width: 100px;
    z-index: 10;
}
.switcher .option {
    cursor: pointer;
    display: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 0;
}

.switcher span.s_selected, .switcher li, .switcher li a {
    display: block;
    height: 22px;
    line-height: 24px;
    text-indent: 7px;
    font-size:11px;
}
.switcher li a{
	
	color:black;
}
.switcher li a:hover{
	color:#f12b63;
}
#currency_switcher {
right:235px;
 }
 
#currency_switcher_language {
   
    right: 329px;
}
#language_switcher {
 
    right:190px;
}

.switcher img {
    display: inline;
    margin: -2px 3px 0 0;
    vertical-align: middle;
}
#currency_switcher {
    right: 190px;
}
#language {
	line-height: 17px;
	float:right;
	margin-left:15px;
}
#language img {
	cursor: pointer;
	vertical-align:top;
}
#currency {
	line-height: 17px;
	float:right;
	margin-left:15px;
}
#currency a {
	display: inline-block;
	padding: 2px 4px;
	border: 1px solid #CCC;
	
	text-decoration: none;
	margin-right: 2px;
	margin-bottom: 2px;
}
#currency a b {
	
	text-decoration: none;
}
#header #cart {
	z-index: 9;
	min-width: 300px;
	position:absolute;
	
}
#cart {
   
    position: absolute;
    right: 0;
}
#cart .heading h4 {
    display: inline;
}
#header #cart .heading {
	float: right;
	margin-right: 172px;
	margin-top: 15px;
	padding-left: 14px;
	padding-right: 14px;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #EEEEEE;
	background: #FFF;
	position: relative;
	z-index: 1;
}
#header #cart .heading h4 {
	color: #333333;
	font-size: 15px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 3px;
}
#header #cart .heading a {
	color: #38B0E3;
	text-decoration: none;
}
#header #cart .heading a span {
	background: #FFFFFF url('/images/arrow-down.png') 100% 50% no-repeat;
	padding-right: 15px;
}
#header #cart .content {
	clear: both;
	display: none;
	position: relative;
	top: -1px;
	padding: 8px;
	min-height: 150px;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	-webkit-border-radius: 0px 7px 7px 7px;
	-moz-border-radius: 0px 7px 7px 7px;
	-khtml-border-radius: 0px 7px 7px 7px;
	border-radius: 0px 7px 7px 7px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
	background: #FFF;
}

#header #cart.active .heading {
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 6px;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}

#header #cart.active .content {
	display: block;
}
#header #cart .cart {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}
#header #cart .cart td {
	color: #000;
	vertical-align: top;
	padding: 10px 5px;
	border-bottom: 1px solid #EEEEEE;
}
#header #cart .cart .image {
	width: 1px;
}
#header #cart .cart .image img {
	border: 1px solid #EEEEEE;
	text-align: left;
}
#header #cart .cart .name small {
	color: #666;
}
#header #cart .cart .quantity {
	text-align: right;
}
#header #cart .cart td.total {
	text-align: right;
}
#header #cart .cart .remove {
	text-align: right;
}
#header #cart .cart .remove img {
	cursor: pointer;
}
#header #cart table.total {
	border-collapse: collapse;
	padding: 5px;
	float: right;
	clear: left;
	margin-bottom: 5px;
}
#header #cart table.total td {
	color: #000;
}
#header #cart .content .checkout {
	text-align: right;
	clear: both;
}
#header #cart .empty {
	padding-top: 50px;
	text-align: center;
}
#remove {
    background: url("/images/remove.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 18px;
    position: relative;
    text-indent: 9999px;
    width: 18px;
    margin:7px 0 0 5px;
}
.remove {
text-align:right;
}
.quantity {
    min-width: 25px;
}
#header-bottom .total table, #header-bottom .cart {
   
    width: 100%;
}
#remove:hover {
    background-position: 0 -18px;
}
#header #search {
	
	z-index: 15;
	float:right;
}
#header .button-search {
    background: url("/images/sprite.png") no-repeat scroll -5px 0 transparent;
    cursor: pointer;
 
    height: 10px;
    position: relative;
    right: -152px;
    top: 7px;
    width: 14px;
}
#header #search input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #ededed;
    border-radius: 3px 3px 3px 3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
    float: left;
    height: 21px;
    padding: 1px 1px 1px 10px;
    width:160px;
}
#header #welcome {
    clear: right;
    float: right;
    line-height: 40px;
    min-height: 29px;
    overflow: auto;
    text-align: right;
     z-index: 5;
     margin-top:10px;
}
#header #welcome a {
      padding: 8px 13px;
    text-decoration: none;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    font-weight:bold;
    margin:0 4px;
}
#header-bottom {
    line-height: 20px;
}
#header .links {
	position: absolute;
	right: 0px;
	bottom: 3px;
	font-size: 10px;
	padding-right: 10px;
} .links a {
	float: left;
	display: block;
	padding: 0px 0px 0px 7px;
	font-size: 13px;
    padding-right: 20px;
    text-decoration: none;
}
#header .links a + a {
	margin-left: 8px;
	border-left: 1px solid #CCC;
}
/* menu */
#menu {
	height: 46px;
	margin-bottom: 15px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
	
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu > ul > li {
    background: url("/images/tabs-border-image.png") no-repeat scroll right center transparent;
    float: left;
    position: relative;
    z-index: 20;
}

#menu > ul > li:hover {
	
}
#menu > ul > li > a {
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 14px;
    padding: 16px 15px 16px 14px;
    position: relative;
    text-decoration: none;
    z-index: 6;
}
#menu > ul > li > div {
    background: none repeat scroll 0 0 #FFFFFF;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
       -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    padding: 5px 10px;
    position: absolute;
    z-index: 120;
    border:3px solid;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
#menu > ul > li:hover > div {
	
}
#menu > ul > li > div > ul {
	padding-left:15px;
	list-style: disc outside url("/images/list1.png");
	display: table-cell;
}
#menu > ul > li ul + ul {
	padding-left: 20px;
}
#menu > ul > li ul > li > a {
	text-decoration: none;
	padding: 4px;
	
	display: block;
	white-space: nowrap;
	min-width: 120px;
}
#menu > ul > li ul > li > a:hover {
color:white;
}
#menu > ul > li > div > ul > li > a {
	
}
#menu > ul > li:first-child {
     margin-left: 4px;
 
}
.breadcrumb {
    background: url("/images/spacer.png") repeat-x scroll center bottom transparent;

    margin-bottom: 10px;
    padding-bottom: 20px;
}
.success, .warning, .attention, .information {
	padding: 10px 10px 10px 40px;
	margin-bottom: 15px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;

	}
.success {
	background: #EAF7D9 url('/images/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
}
.warning {
	background: #FFD1D1 url('/images/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
}
.attention {
	background: #FFF5CC url('/images/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
}
.information {
	background: #E8F6FF url('/images/information.png') 10px center no-repeat;
	border: 1px solid #B8E2FB;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	display: block;
	
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	
	display: block;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form tr td:first-child {
	width: 150px;
}
table.form > * > * > td {
	}
table.form td {
	padding: 4px;
}
input.large-field, select.large-field {
	width: 300px;
}
table.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
table.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
table.list thead td {
	background-color: #EFEFEF;
	padding: 0px 5px;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
table.list tbody td a {
	text-decoration: underline;
}
table.list tbody td {
	vertical-align: top;
	padding: 0px 5px;
}
table.list .left {
	text-align: left;
	padding: 7px;
}
table.list .right {
	text-align: right;
	padding: 7px;
}
table.list .center {
	text-align: center;
	padding: 7px;
}
table.list .asc {
	padding-right: 15px;
	background: url('/images/asc.png') right center no-repeat;
}
table.list .desc {
	padding-right: 15px;
	background: url('/images/desc.png') right center no-repeat;
}
.pagination {
	border-top: 1px solid #EEEEEE;
	padding-top: 8px;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.pagination .links {
	float: left;
}
.pagination .links a {
	display: inline-block;
	border: 1px solid #EEEEEE;
	padding: 4px 10px;
	text-decoration: none;
	color: #A3A3A3;
}
.pagination .links b {
	display: inline-block;
	border: 1px solid #269BC6;
	padding: 4px 10px;
	font-weight: normal;
	text-decoration: none;
	color: #269BC6;
	background: #FFFFFF;
}
.pagination .results {
	float: right;
	padding-top: 3px;
}
/* button */
a.button {
	display: inline-block;
	padding-left: 6px;
	text-decoration: none;
	cursor: pointer;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
a.button span {
	color: #FFFFFF;
	line-height: 12px;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	padding: 6px 12px 8px 5px;
	border-radius:4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	}
a.button:hover {
	
}
a.button:hover span {
	color: #FFFFFF;
	
}
.buttons {
	overflow: auto;
	padding: 6px;
	margin-bottom: 20px;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#cart .button {
    margin-top: 10px;
}
.buttons .cart {
    padding-left: 20px;
}
.htabs {
	height: 30px;		
	line-height: 16px;
	border-bottom: 5px solid #f6f6f6;	
}
.htabs a {
	border-top: 1px solid #f6f6f6;
	border-left: 1px solid #f6f6f6;
	border-right: 1px solid #f6f6f6; 
	
	padding: 7px 15px 6px 15px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
		margin-right: 2px;
}
.htabs a.selected {
	padding-bottom: 7px;
	background: #f6f6f6;
}
.tab-content {
	border-bottom: 1px solid #f6f6f6;
	padding-top: 10px;
	margin-bottom: 20px;
	z-index: 2;
	overflow: auto;
	padding-bottom:10px;
	line-height:22px;
}
/* box */
#column-left .box {
margin-bottom:20px;
}
.box .box-heading {
    background: url("/images/spacer.png") repeat-x scroll center bottom transparent;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 22px;
    padding-bottom: 15px;
}
.box .box-content {
	
}
/* box products */
.box-product {
	width: 100%;
	/*overflow: auto;*/
}
	
.box-product > div {
	width: 200px;
	display: inline-block;
	vertical-align: top;
	margin-right: 17px;
	margin-top:10px;
	margin-bottom: 10px;
	border:1px solid #f6f6f6;
	border-radius:2px;
	padding:10px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
		
}
.box-product .image {
	display: block;
	margin-bottom: 0px;
	text-align:center;
}
.box-product .image img {
	padding: 3px;
	
}
.box-product .name a {
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
	font-size:14px;
}
.box-product .price {
	display: block;
	font-weight: bold;
	margin-bottom: 8px;
}
.box-product .price-old {
	color: #F00;
	text-decoration: line-through;
}
.box-product .price-new {
	font-weight: bold;
}
.box-product .rating {
	display: block;
	margin-bottom: 4px;
}
/* box category */
.box-category {
	margin-top: -5px;
}
.box-category ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.box-category > ul > li {
	padding: 8px 8px 8px 0px;
}
.box-category > ul > li + li {
	
}
.box-category > ul > li > a {
	text-decoration: none;
	font-weight:bold;
	position:relative;
}
.box-category > ul > li ul {
	display: none;
}
.box-category > ul > li a.active {
	font-weight: bold;
	text-decoration:underline;
}
.box-category > ul > li a.active + ul {
	display: block;
}
.box-category > ul > li ul > li {
	padding: 5px 5px 0px 10px;
}
.box-category > ul > li ul > li > a {
	text-decoration: none;
	display: block;
}
.box-category > ul > li ul > li > a.active {
	font-weight: bold;
}
/* content */
#content .content {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #f6f6f6;
}
#content .content .left {
	float: left;
	width: 49%;
}
#content .content .right {
	float: right;
	width: 49%;
}
#content ul li {
    padding-bottom: 10px;
}
/* category */
.category-info {
	overflow: auto;
	margin-bottom: 20px;
}
.category-info .image {
	float: left;
	padding: 5px;
	margin-right: 15px;
	
}
.category-list {
	overflow: auto;
	margin-bottom: 20px;
}
.category-list ul {
	float: left;
	width: 18%;
}
.category-list .div a {
	text-decoration: underline;
	font-weight: bold;
}
/* manufacturer */
.manufacturer-list {
	border: 1px solid #DBDEE1;
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px;
}
.manufacturer-heading {
	background: #F8F8F8;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 8px;
	margin-bottom: 6px;
}
.manufacturer-content {
	padding: 8px;
}
.manufacturer-list ul {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}
/* product */
.product-filter {
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 10px;
	overflow: auto;
}
.product-filter .display {
	margin-right: 15px;
	float: left;
	padding-top: 4px;
	color: #333;
}
.product-filter .display a {
	font-weight: bold;
}
#grid_a {
    background: url("/images/grid_a.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 12px;
    text-indent: -9999px;
    width: 19px;
}
#list_a {
    background: url("/images/list_a.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 12px;
    text-indent: -9999px;
    width: 19px;
    margin-right:10px;
     margin-left:10px;
}
#list_b {
    background: url("/images/list_b.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 12px;
    width: 19px;
    margin-right:10px;
     margin-left:10px;
}
#grid_b {
    background: url("/images/grid_b.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 12px;
    width: 19px;
}

#grid_a:hover {
	 background: url("/images/grid_b.png") no-repeat scroll 0 0 transparent;

	
}
#list_a:hover {
	 background: url("/images/list_b.png") no-repeat scroll 0 0 transparent;

	
}

.product-filter .sort {
	float: right;
	color: #333;
}
.product-filter .limit {
	margin-left: 15px;
	float: right;
	color: #333;
}
.product-compare {
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 15px;
}
.product-compare a {
	text-decoration: none;
	font-weight: bold;
}
.product-list > div {
	overflow: auto;
	margin-bottom: 15px;
	border:1px solid #f6f6f6;
	padding:20px;
}
.product-list .right {
	float: right;
	margin-left: 15px;
	text-align:center;
	width:120px;
	border-left:1px solid #f6f6f6;
}
.product-list > div + div {
	
	padding-top: 16px;
}
.product-list .image {
	float: left;
	margin-right: 10px;
}
.product-list .image img {
	padding: 3px;
	
}
.product-list .name {
	margin-bottom: 10px;
}
.product-list .name a {
		font-weight: bold;
	text-decoration: none;
	font-size:15px;
}
.product-list .description {
	line-height: 20px;
	margin-bottom: 5px;

}
.product-info .description span {
    font-weight: normal;
}
.product-list .rating {
	color: #7B7B7B;
}
.product-list .price {
padding-bottom:15px;
font-size:14px;
}
.product-list .price-old {
	text-decoration: line-through;
}
.product-list .price-new {
	font-weight: bold;
}
.product-list .price-tax {
	font-size: 11px;
	font-weight: normal;
	}
.product-list .cart {
	margin-bottom: 15px;
}
.cart_right {
    float: right !important;
}
#shopping_cart_icon {
    background: url("/images/sprite.png") no-repeat scroll -2px -24px transparent;
    display: inline-block;
    height: 24px;
    text-indent: -9999px;
    width: 31px;
}
.heading h4 {
    font-size: 14px;
}
.heading a {
    font-size: 14px;
    text-decoration: none;
}
.product-list .wishlist, .product-list .compare {
	margin-bottom: 3px;
}
.product-list .wishlist a {
		text-decoration: none;
		display: block;
		font-size:11px;
	}
.product-list .compare a {
	text-decoration: none;
		display: block;
		font-size:11px;
	}
.product-grid {
	width: 100%;
	overflow: auto;
}
.product-grid > div {
width: 200px;
	display: inline-block;
	vertical-align: top;
	margin-right: 17px;
	margin-top:5px;
	margin-bottom: 20px;
	border:1px solid #f6f6f6;
	border-radius:2px;
	padding:10px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;

}
.product-grid .image {
	display: block;
	margin-bottom: 0px;
}
.product-grid .image img {
	padding: 3px;
	
}
.product-grid .name a {
    display: block;
    font-size: 17px;
    font-weight: bold;
    margin: 8px 0;
    text-decoration: none;
}
.product-grid .description {
	display: none;
}
.product-grid .rating {
	display: block;
	margin-bottom: 4px;
}
.product-grid .price {
	display: block;
	font-weight: bold;
	
	margin-bottom: 8px;
}
.product-grid .price-old {

	text-decoration: line-through;
}
.product-grid .price-new {
	font-weight: bold;
}
.product-grid .price .price-tax {
	display: none;
}
.product-grid .cart {
float:left;
	margin-bottom: 3px;
}
.product-grid .wishlist, .product-grid .compare {
	float:right;
}
.product-grid .wishlist a, .product-grid .compare a {
font-size:11px;
}

.product-grid .wishlist a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('/images/add.png') left center no-repeat;
}
.product-grid .compare a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('/images/add.png') left center no-repeat;
}
/* Product */
.product-info {
	overflow: auto;
	margin-bottom: 20px;
}
.product-info > .left {
	float: left;
	margin-right: 20px;
}
.product-info > .left + .right {
    border: 1px solid #f6f6f6;
    margin-left: 360px;
    padding: 20px;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}
.product-info .image {
	
	float: left;
		padding: 10px;
	text-align: center;
}
.product-info .image-additional {
	width: 360px;
	margin-left: -10px;
	clear: both;
	overflow: hidden;
}
.product-info .image-additional img {
}
.product-info .image-additional a {
	float: left;
	display: block;
	margin-left: 10px;
	margin-bottom: 10px;
}
.product-info .description {
    border-bottom: 1px solid #F6F6F6;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 10px;
    padding-bottom: 15px;
}
.product-info .description span {
	
}
.product-info .description a {
	color: #4D4D4D;
	text-decoration: none;
}
.product-info .price {
    border-bottom: 1px solid #F6F6F6;
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    margin-bottom: 10px;
    overflow: auto;
    padding: 0 5px 15px;
}
.product-info .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-info .price-new {
	
}
.product-info .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .reward {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .discount {
	font-weight: normal;
	font-size: 12px;
	color: #4D4D4D;
}
.product-info .options {
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	color: #000000;
}
.options h2 {
    font-size: 17px;
}
.product-info .cart {
	overflow: auto;
	padding-top:15px;
}
.product-info .cart div {
	float: left;
	vertical-align: middle;
}
.cart_right a {
    font-size: 11px;
}
.product-info .cart div > span {
	padding-top: 7px;
	display: block;
	color: #999;
}
.product-info .cart .minimum {
	padding-top: 5px;
	font-size: 11px;
	color: #999;
	clear: both;
}
.product-info .review {
    background: none repeat scroll 0 0 #F6F6F6;
      margin-bottom: 10px;
    margin-left: 360px;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}
.product-info .review > div {
 
    margin: 0 20px;
    padding: 10px 0;
}
.product-info .review > div > span {
	color: #38B0E3;
}
.product-info .review .share {
	overflow: auto;
	line-height: normal;
	border-top:1px solid #ebebeb;
}
.product-info .review .share a {
	text-decoration: none;
}
#captcha {
    margin-top: 10px;
}
.tags{
	
	margin:20px 0;
}
.attribute {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #f6f6f6;
	border-left: 1px solid #f6f6f6;
	margin-bottom: 20px;
}
.attribute thead td, .attribute thead tr td:first-child {
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.attribute tr td:first-child {
	font-weight: bold;
	text-align: right;
	width: 20%;
}
.attribute td {
	padding: 7px;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #f6f6f6;
	border-bottom: 1px solid #f6f6f6;
}
.compare-info {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #f6f6f6;
	border-left: 1px solid #f6f6f6;
	margin-bottom: 20px;
}
.compare-info thead td, .compare-info thead tr td:first-child {

	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.compare-info tr td:first-child {
		font-weight: bold;
	text-align: right;
}
.compare-info td {
	padding: 7px;
	width: 20%;
	
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #f6f6f6;
	border-bottom: 1px solid #f6f6f6;
	line-height:20px;
}
.compare-info .name a {
	font-weight: bold;
}
.compare-info .price-old {
	font-weight: bold;
		text-decoration: line-through;
}
.compare-info .price-new {
	font-weight: bold;
}
/* wishlist */
.wishlist-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.wishlist-product td {
	padding: 7px;
}
.wishlist-product thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-product thead .remove, .wishlist-product thead .image, .wishlist-product thead .cart {
	text-align: center;
}
.wishlist-product thead .name, .wishlist-product thead .model, .wishlist-product thead .stock {
	text-align: left;
}
.wishlist-product thead .quantity, .wishlist-product thead .price, .wishlist-product thead .total {
	text-align: right;
}
.wishlist-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-product tbody .remove {
	vertical-align: middle;
}
.wishlist-product tbody .remove, .wishlist-product tbody .image, .wishlist-product tbody .cart {
	text-align: center;
}
.wishlist-product tbody .name, .wishlist-product tbody .model, .wishlist-product tbody .stock {
	text-align: left;
}
.wishlist-product tbody .quantity, .wishlist-product tbody .price, .wishlist-product tbody .total {
	text-align: right;
}
.wishlist-product tbody .price s {
	color: #F00;
}
.login-content {
	margin-bottom: 20px;
	overflow: auto;
}
.login-content .left {
	float: left;
	width: 48%;
}
.login-content .right {
	float: right;
	width: 48%
}
.login-content .left .content, .login-content .right .content {
	min-height: 190px;
}
/* orders */
.order-list {
	margin-bottom: 10px;
}
.order-list .order-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.order-list .order-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.order-list .order-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.order-list .order-content div {
	float: left;
	width: 33.3%;
}
.order-list .order-info {
	text-align: right;
}
.order-detail {
	background: #EFEFEF;
	font-weight: bold;
}
/* returns */
.return-list {
	margin-bottom: 10px;
}
.return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.return-list .return-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
	float: left;
	width: 33.3%;
}
.return-list .return-info {
	text-align: right;
}
.return-product {
	overflow: auto;
	margin-bottom: 20px;
}
.return-name {
	float: left;
	width: 33.3%;
}
.return-model {
	float: left;
	width: 33.3%;
}
.return-quantity {
	float: left;
	width: 33.3%;
}
.return-detail {
	overflow: auto;
	margin-bottom: 20px;
}
.return-reason {
	float: left;
	width: 33.3%;
}
.return-opened {
	float: left;
	width: 33.3%;
}
.return-opened textarea {
	width: 98%;
	vertical-align: top;
}
.return-remove {
	float: left;
	width: 33.3%;
	padding-top: 90px;
	text-align: center;
	vertical-align: middle;
}
.return-additional {
	overflow: auto;
	margin-bottom: 20px;
}
.return-comment {
	float: left;
	width: 49%;
}
.return-captcha {
	float: right;
	width: 49%;
}
.download-list {
	margin-bottom: 10px;
}
.download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content div {
	float: left;
	width: 33.3%;
}
.download-list .download-info {
	text-align: right;
}
/* cart */
.cart-info table {
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse;
	border-top: 1px solid #f6f6f6;
	border-left: 1px solid #f6f6f6;
	border-right: 1px solid #f6f6f6;
}
.cart-info td {
	padding: 13px;
}
.cart-info thead td {
		font-weight: bold;
	background-color: #f6f6f6;
	border-bottom: 1px solid #f6f6f6;
}
.cart-info thead .remove, .cart-info thead .image {
	text-align: center;
}
.cart-info thead .name, .cart-info thead .model {
	text-align: left;
}
.cart-info thead .quantity, .cart-info thead .price, .cart-info thead .total {
	text-align: right;
}
.cart-info tbody td {
		border-bottom: 1px solid #f6f6f6;
}
.cart-info tbody .remove {
	vertical-align: middle;
}
.cart-info tbody .remove, .cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model {
	text-align: left;
}
.cart-info tbody .quantity, .cart-info tbody .price, .cart-info tbody .total {
	text-align: right;
}
.cart-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}
.cart-module .cart-heading {
	padding: 8px 8px 8px 22px;
	font-weight: bold;
	font-size: 13px;

	margin-bottom: 15px;
	cursor: pointer;
	background: #f6f6f6;
}
.cart-module .active {
	background: #F8F8F8 url('/images/arrow-down.png') 7px 50% no-repeat;
}
.cart-module .cart-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: auto;
}
#cart .content {
    background: none repeat scroll 0 0 white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    min-width: 230px;
    position: absolute;
    z-index: 100;
    padding:10px;
    border:3px solid;
        border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;

}
.cart-total {
	border-top: 1px solid #f6f6f6;
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
}
.cart-total table {
	float: right;
}
.cart-total td {
	padding: 3px;
	text-align: right;
}
/* checkout */
.checkout-heading {
	background: #F8F8F8;
	border: 1px solid #DBDEE1;
	padding: 8px;
	font-weight: bold;
	font-size: 13px;

	margin-bottom: 15px;
}
.checkout-heading a {
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
}
.checkout-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: auto;
}
.checkout-content .left {
	float: left;
	width: 48%;
}
.checkout-content .right {
	float: right;
	width: 48%;
}
.checkout-content .buttons {
	clear: both;
}
.checkout-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.checkout-product td {
	padding: 7px;
}
.checkout-product thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product thead .name, .checkout-product thead .model {
	text-align: left;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
	text-align: right;
}
.checkout-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product tbody .name, .checkout-product tbody .model {
	text-align: left;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
	text-align: right;
}
.checkout-product tfoot td {
	text-align: right;
	border-bottom: 1px solid #DDDDDD;
}
.contact-info {
	overflow: auto;
}
.contact-info .left {
	float: left;
	width: 48%;
}
.contact-info .right {
	float: left;
	width: 48%;
}
.sitemap-info {
	overflow: auto;
	margin-bottom: 40px;
}
.sitemap-info .left {
	float: left;
	width: 48%;
}
.sitemap-info .right {
	float: left;
	width: 48%;
}
#shipping td {
	
	padding-bottom:15px;
}

/* footer */ 
#footer {
	clear: both;
	overflow: auto;
	min-height: 100px;
	
	}
#footer h3 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 8px;
    margin-top: 0;
    background:url("/images/footer-spacer.png") repeat-x scroll center bottom transparent;
    padding-bottom:15px;
}
#footer .column {
	float: left;
	width: 25%;
	min-height: 100px;
}
#footer .column ul {
	margin-top: 0px;
	margin-left: 8px;
	padding-left: 12px;
}
#footer .column ul li {
	margin-bottom: 3px;
}
#footer .column a {
	text-decoration: none;
	color: #000;
}
#footer .column a:hover {
	text-decoration: underline;
}
#powered {
	margin-top: 5px;
	line-height:22px;
	clear: both;
	overflow:auto;
	text-align: center;
}

#footer-top-outside h2 {
    background: url(/images/footer-spacer.png) repeat-x;
    background-position: bottom;
    padding-bottom: 15px;
}
#footer-top-outside {
    margin: auto;
    overflow: auto;
    padding: 20px 0 10px;
    width: 992px;
    box-shadow:0 12px 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 12px 15px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:0 12px 15px rgba(0, 0, 0, 0.2);
}
#footer-top-outside ul {
    list-style: disc outside url("/images/list1.png");
    margin-top: 0;
    padding: 0 15px;
}
#contact_footer ul{
	
	list-style:none;
	padding-left:0;
}
#footer ul li, #categories_footer ul li {
    padding-bottom: 10px;
}

#footer_telephone,  #footer_telephone2, #footer_email, #footer_email2, #footer_skype, #footer_fax{
	
	 text-indent: 25px;
}
#footer_telephone {
   background: url("/images/contact/telephone.png") no-repeat scroll left center transparent;
   }
   #footer_email {
   background: url("/images/contact/mail.png") no-repeat scroll left center transparent;
   margin-top:15px;
   }
   #footer_skype {
   background: url("/images/contact/skype.png") no-repeat scroll left center transparent;
   margin-top:15px;
   }
   #footer_fax {
   background: url("/images/contact/fax.png") no-repeat scroll left center transparent;
   margin-top:15px;
   }

#footer_fax, #footer_telephone2, #footer_email2, #footer_fax {
     padding-bottom:8px;
}
#footer ul {
    list-style: disc outside url("/images/list1.png");
    padding-left: 15px;
}
#contact_footer ul li {
	padding-bottom:5px;
}

/* banner */

.banner {
    display: inline-block;
    margin-left:22px;
}
#banner0{
	margin-left:0;
}


.banner div {
	text-align: center;
	width: 100%;
}
.banner div img {
	margin-bottom: 20px;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.spacer {
    height: 8px;
    background: url(/images/spacer.png) repeat-x;
    clear: both;
    margin:4px 0 6px;
}
.active{
	display:block !important;
}
#header-bottom {
    min-height: 40px;
    overflow: visible;
}

.no_right_margin {
	margin-right:0 !important;
}
.cart_spacer {
    height: 1px;
}
.cart_total_td {
    min-width: 180px;
}
/* twitter */
#twitter_update_list li {
    padding-bottom: 10px;
    padding-top:5px;
    border-bottom:1px solid #EDEDED;
}
#twitter_update_list {
    padding: 0 !important;
    list-style: none !important;
    margin-top:0 !important;
    line-height:17px;
    font-style:italic;
}
#twitter_footer li:last-child {
    border: none !important;
}
#twitter_footer li:first-child {
   padding-top:0 !important;
}

#twitter_footer li span {
    display: block;
}
#twitter_footer li a {
    font-style: normal;
}
.no_image {
    height: 155px;
}
.about_us_image {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
