#{extends 'main.html' /}
#{set title:""/}

<div>
 #{list items:links, as:'oneLink'}
                <div class="links">
                    <h2 class="link">
                        <a href="${oneLink.siteURL}">${oneLink.siteName}</a>
                    </h2>
                </div>
  #{/list}
</div>
