#{extends 'seller/layouts/index.html' /} 
#{set title:'帮助中心' /}

<div class="grid_2">
	<ul class="left_nav">
		#{list items:categories, as:'category'}
		<li>
			${category.name}
			#{if category.helps.size()>0}
			<ul>
				#{list category.helps, as:'item'}
				<li><a href="@{seller.Helps.view(item.key)}">${item.title}</a></li>
				#{/list}
			</ul>
			#{/if}
		</li>
		#{/list}
	</ul>
</div>