#{extends 'seller/layouts/index.html' /} 
#{set title:help.title+' - 帮助中心' /}

<div class="grid_2">
	<ul class="left_nav">
		#{list items:categories, as:'category'}
		<li>
			${category.name}
			#{if category.helps.size()>0}
			<ul>
				#{list category.helps, as:'item'}
				<li><a href="@{seller.Helps.view(item.key)}">${item.title}</a></li>
				#{/list}
			</ul>
			#{/if}
		</li>
		#{/list}
	</ul>
</div>
<div class="grid_9">
	<h1>${help.title}</h1>
	<div class="content">${help.content.raw()}</div>
</div>