<div id="container" class="container_12">
	<div id="footer">
		<div class="grid_3">
			<h3>Information</h3>
			<ul>
				<li>#{a @Docs.view('about_us')}About Us#{/a}</li>
				<li>#{a @Docs.view('delivery_information')}Delivery Information#{/a}</li>
				<li>#{a @Docs.view('pivacy_policy')}Privacy Policy#{/a}</li>
				<li>#{a @Docs.view('terms_conditions')}Terms &amp; Conditions#{/a}</li>
			</ul>
		</div>
		<div class="grid_3">
			<h3>Customer Service</h3>
			<ul>
				<li>#{a @Docs.view('contact_us')}Contact Us#{/a}</li>
				<li>#{a @Docs.view('returns')}Returns#{/a}</li>
				<li>#{a @Docs.view('terms_conditions')}Terms &amp; Conditions#{/a}</li>
				<li><a href="/sitemap">Site Map</a></li>
			</ul>
		</div>
		<div class="grid_3">
			<h3>Extras</h3>
			<ul>
				<li>#{a @FriendLinks.view()}Friend Links#{/a}</li>
				<li>#{a @Docs.view('contact_us')}Contact Us#{/a}</li>
				<li>#{a @Docs.view('contact_us')}Contact Us#{/a}</li>
				<li>#{a @Docs.view('contact_us')}Contact Us#{/a}</li>
			</ul>
		</div>
		<div class="grid_3">
			<h3>Account</h3>
			<ul>
				<li>#{a @Docs.view('contact_us')}Contact Us#{/a}</li>
				<li>#{a @Docs.view('contact_us')}Contact Us#{/a}</li>
				<li>#{a @Docs.view('contact_us')}Contact Us#{/a}</li>
				<li>#{a @Docs.view('contact_us')}Contact Us#{/a}</li>
			</ul>
		</div>
	</div>

	<div class="spacer clearfix"></div>
	<div id="powered">
		<div class="grid_12">${models.Config.get('site.footer')}</div>
	</div>
</div>