<div id="header" class="grid_12">
	<div id="logo">
		<a href="@{Index.index}"><img src="/images/logo-gentle.png" title="" alt="" /> </a>
	</div>

	<div id="header-right">
		<div id="search">
			<input type="text" name="keyword" value="Search"
				onclick="this.value = '';" onkeydown="this.style.color = '#808080';" />
			<div class="button-search"></div>
		</div>
		<div id="welcome">
			#{if session.userId==null}
			Welcome visitor you can <a href="@{buyer.Users.login}">login</a>
			or <a class="register_welcome no_right_margin" href="@{buyer.Users.register()}">create an account</a>
			#{/if}
			#{else}
			Welcome ${session.fullname}
			<a href="@{buyer.Users.logout()}">Logout</a>
			#{/else}
		</div>
	</div>
</div>
<div class="spacer clearfix"></div>
<div id="header-bottom" class="grid_12">
	<div class="links">
		<a class="fourth_color" href="@{Index.index}">Home</a>
		<a class="fourth_color" href="@{buyer.Favorites.index()}" id="wishlist_total">Favorite</a>
		<a class="fourth_color" href="@{buyer.BuyerApplication.index()}">My Account</a>
		<a class="fourth_color" href="@{cart.index()}">Shopping Cart</a>
		<a class="fourth_color" href="@{cart.index()}">Checkout</a>
	</div>
	<div id="cart">

		<div class="heading"> &nbsp 
			<a id="shopping_cart_icon" href="#">shopping cart</a>
			<h4>Shopping Cart</h4>
			<a><span id="cart_total">${session.shoppingcart_num?session.shoppingcart_num:0} item(s) - $${session.shoppingcart_totalprice?session.shoppingcart_totalprice:'0.0'}</span> </a>
		</div>
		<div class="content"></div>
	</div>

</div>
<div id="menu" class="third_color_bg grid_12">
	<ul>
		#{list items:models.Category.findTop().subList(0, 5), as:'category'}
		<li>
			<a class="sixth_color_bg" href="@{Categories.view(category.id)}">${category.name}</a>
			#{if category.children.size()>0}
			<div class="sixth_color_border">
				<ul>
					#{list items:category.children, as:'subCategory'}
					<li><a class="secondary_color" href="@{Categories.view(subCategory.id)}">${subCategory.name}</a></li>
					#{/list}
				</ul>
			</div>
			#{/if}
		</li>
		#{/list}
	</ul>
</div>
