<div id="header" class="grid_12">
	<div id="logo">
		<a href="@{Index.index}"><img src="/images/logo-gentle.png" title="" alt="" /> </a>
	</div>

	<div id="header-right">
		<!--
		<form action="" method="post" enctype="multipart/form-data" id="currency_form">

			<div id="currency_switcher" class="switcher">
				<span class="s_selected">US Dollar</span>
				<ul class="option">
					<li><a href="javascript:;"
						onclick="$('input[name=\'currency_code\']').attr('value', 'EUR'); $('#currency_form').submit();">Euro</a>
					</li>
					<li><a href="javascript:;"
						onclick="$('input[name=\'currency_code\']').attr('value', 'GBP'); $('#currency_form').submit();">Pound
							Sterling</a></li>
					<li><a href="javascript:;"
						onclick="$('input[name=\'currency_code\']').attr('value', 'USD'); $('#currency_form').submit();">US
							Dollar</a></li>
				</ul>
			</div>
			<input class="s_hidden" type="hidden" name="currency_code" value="" />
			<input class="s_hidden" type="hidden" name="redirect" value="" />
		</form>
		-->
		<div id="search">
			<input type="text" name="filter_name" value="Search"
				onclick="this.value = '';" onkeydown="this.style.color = '#808080';" />
			<div class="button-search"></div>
		</div>
		<div id="welcome">
			Welcome visitor you can <a href="@{buyer.Member.login}">login</a>
			or <a class="register_welcome no_right_margin" href="@{buyer.Member.register}">create an account</a>
		</div>
	</div>
</div>
<div class="spacer clearfix"></div>
<div id="header-bottom" class="grid_12">
	<div class="links">
		<a class="fourth_color" href="@{Index.index}">Home</a>
		<a class="fourth_color" href="/wishlist" id="wishlist_total">Wish List (0)</a>
		<a class="fourth_color" href="/account">My Account</a>
		<a class="fourth_color" href="/cart">Shopping Cart</a>
		<a class="fourth_color" href="/checkout">Checkout</a>
	</div>
	<div id="cart">

		<div class="heading"> &nbsp 
			<a id="shopping_cart_icon" href="#">shopping cart</a>
			<h4>Shopping Cart</h4>
			<a><span id="cart_total">0 item(s) - $0.00</span> </a>
		</div>
		<div class="content"></div>
	</div>

</div>
<div id="menu" class="third_color_bg grid_12">
	<ul>
		#{list items:models.Category.findTop(), as:'category'}
		<li>
			<a class="sixth_color_bg" href="@{Category.view(category.id)}">${category.name}</a>
			#{if category.children.size()>0}
			<div class="sixth_color_border">
				<ul>
					#{list items:category.children, as:'subCategory'}
					<li><a class="secondary_color" href="@{Category.view(subCategory.id)}">${subCategory.name}</a></li>
					#{/list}
				</ul>
			</div>
			#{/if}
		</li>
		#{/list}
	</ul>
</div>
