<span class="paginator"> 
%{ 
int all = 7;
int current = _model.page;
int totalPages = Math.ceil(_model.total / _model.limit);
int first = Math.max(1, current - all); 
 }% 
%{ 
 if(current > 1) { 
}% <a class="paginator_element" href="${_model.getAction(1).raw()}"> |< </a> &nbsp;
<a class="paginator_element" href="${_model.getAction(current - 1).raw()}"> 
<< </a>&nbsp;%{ 
} 

 for(def page = first; page < current; page++) { 
}% <a href="${_model.getAction(page).raw()}"> ${page} </a>&nbsp;  %{ 
} 

 }% <span class="paginator_element paginator_current">${current}</span> 
%{ 
    for(def page = current + 1; page <= Math.min(totalPages, current + all - 
1); page++) { 
       }% <a class="paginator_element" 
href="${_model.getAction(page).raw()}"> ${page} </a>&nbsp;  %{ 
    } 
    if(current < totalPages) { 
     }%<a class="paginator_element" href="${_model.getAction(current + 
1).raw()}"> ${">>"} </a> &nbsp;
     <a class="paginator_element" href="${_model.getAction(totalPages).raw()}"> ${">|"} </a> %{ 
    } 
}% 
<span class="">page of total<b>${current}/${totalPages == 0 ? 1 : totalPages}</b></span> 
</span> 