#{extends 'seller/layouts/index.html' /} 
#{set title:'文档' /}

<div class="grid_2">
	<ul class="left_nav">
		#{list items:docs, as:'doc'}
		<li><a href="@{seller.Docs.view(doc.key)}">${doc.title}</a></li>
		#{/list}
	</ul>
</div>