#{extends 'seller/layouts/index.html' /} 
#{set title:doc.title+' - 文档' /}

<div class="grid_2">
	<ul class="left_nav">
		#{list items:docs, as:'item'}
		<li><a href="@{seller.Docs.view(item.key)}">${item.title}</a></li>
		#{/list}
	</ul>
</div>

<div class="grid_10">
	<h1>${doc.title}</h1>
	<div class="content">${doc.content.raw()}</div>
</div>