#{extends 'seller/layouts/main.html' /} 
#{set title:'商铺分类管理' /}

<div class="contentcontainer">
	<div class="headings alt">
		<h2>商铺分类管理</h2>
	</div>
	<div class="contentbox">
		<h3><a href="@{show()}">添加分类</a></h3>
		#{user.message /}
		<table width="100%">
			<thead>
				<tr>
					<th>&{'shopCategory.name'}</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				#{if shopCategories && shopCategories.size()>0}
			    #{list shopCategories, as:'shopCategory'}
			    <tr>
		   			<td >${shopCategory.name}</td>
		   			<td>
		   				<a href="@{show(shopCategory.id)}"><img src="/images/user/icons/icon_edit.png" alt="Edit"></a>&nbsp;&nbsp;
		   				<a href="@{delete(shopCategory.id)}" onclick="return confirm('您确认要删除该分类吗？?');">
		   					<img src="/images/user/icons/icon_delete.png" alt="Delete">
		   				</a>
		   			</td>
		   		</tr>
			    #{/list}
			  	 <tr>
			    	<td colspan="73"> </td>
			    </tr>
			    #{/if}
			    #{else}
			    	<tr>
			    		<td colspan="73">没有分类信息. <a href="@{show()}">添加分类</a></td>
			    	</tr>
			    #{/else}
			</tbody>
		</table>
	</div>
</div>