#{extends 'seller/layouts/main.html' /} 
#{set title:'商铺分类管理' /}

<div class="contentcontainer">
	<div class="headings alt">
		<h2>商铺分类管理</h2>
	</div>
	<div class="contentbox">
		#{user.message /}
		#{form @save()}
			<input name="shopCategory.id" type="hidden" value="${shopCategory?.id}"/>
			#{field 'shopCategory.name'}
			<p class="${field.errorClass}">
				<label><strong>&{'shopCategory.name'}: </strong></label>
				<input type="text" id="name" name="${field.name}" value="${shopCategory?.name}" class="inputbox"/>
				#{if field.error}
				<img src="/images/user/icons/icon_missing.png" alt="Error">
				<br/>
				<span class="smltxt red">${field.error}</span>
				#{/if}
			</p>
			#{/field}
			<p>
				<input type="submit" value="保存" class="btn"/>
			</p>
		#{/form}
	</div>
</div>