#{extends 'main.html' /} #{set title:'Join free' /}


<h2>Register</h2>
#{ifErrors}
<p>Oops…</p>
#{/ifErrors} 
#{form @buyer.Member.reg()}

	#{field 'user.username'}
	<p class="${field.errorClass}">
		<strong>Username: </strong><font color="red">*</font> <input
			type="text" name="${field.name}" id="username"
			value="${flash['user.username']}" /><span class="error">${field.error}</span>
	</p>
	#{/field}
	#{field 'user.email'}
	<p class="${field.errorClass}">
		<strong>Email Address: </strong><font color="red">*</font> <input
			type="text" name="${field.name}" id="email"
			value="${flash['user.email']}" /> <span class="error">${field.error}</span>
	</p>
	#{/field}
	#{field 'user.firstName'}
	<p class="${field.errorClass}">
		<strong>First name: </strong><input type="text"
			name="${field.name}" id="firstName" value="${flash['user.firstName']}" />
		<span class="error">${field.error}</span>
	</p>
	#{/field}
	#{field 'user.lastName'}
	<p class="${field.errorClass}">
		<strong>Last name: </strong><input type="text"
			name="${field.name}" id="lastName" value="${flash['user.lastName']}" /><span class="error">${field.error}</span>
	</p>
	#{/field}
	#{field 'user.password'}
	<p class="${field.errorClass}">
		<strong>Password: </strong><font color="red">*</font> <input
			type="password" name="${field.name}" id="password" /> <span class="error">${field.error}</span>
	</p>
	#{/field}
	#{field 'repassword'}
	<p class="${field.errorClass}">
		<strong>Re - enter password:</strong> <font color="red">*</font>
		 <input type="password" name="${field.name}" id="repassword" /><span class="error">${field.error}</span>
	</p>
	#{/field}
	<p>
		#{authenticityToken /}
		<input type="submit" value="Create New Account" />
	</p>
#{/form}
