#{extends 'main.html' /}
#{set title:category.name/}

<div class="grid_12">
	<div id="notification"></div>
	<div class="breadcrumb">
		<a href="@{Index.index}">Home</a>
		#{list items:category.parents, as:'parent'}
		» <a href="@{Categories.view(parent.id)}">${parent.name}</a>
		#{/list}
		» <a href="@{Categories.view(category.id)}">${category.name}</a>
	</div>
	<div id="column-left">
		<div class="box">
			<div class="box-heading">Categories</div>
			<div class="box-content">
				<div class="box-category">
					<ul>
						#{list items:category.children, as:'subCategory'}
						<li><a class="active" href="@{Categories.view(subCategory.id)}">${subCategory.name}</a>
							#{if category.children.size()>0}
							<ul>
							#{list items:subCategory.children, as:'leafCategory'}
								<li><a href="@{Categories.view(leafCategory.id)}"> - ${leafCategory.name}</a></li>
							#{/list}
							</ul>
							#{/if}
						</li>
						#{/list}
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="content">
		<h1>${category.name}</h1>
		<div class="category-info">
			<div class="image">
			</div>
			<p>${category.description}</p>
		</div>
		<!-- 
		<h2>Refine Search</h2>
		<div class="category-list">
			<ul>
				<li><a href="#">Macs (0)</a>
				</li>
				<li><a href="#">Windows (0)</a>
				</li>
			</ul>
		</div>
		 -->
		<div class="product-filter">
			<div class="display">
				<b>Display:</b>
				<div id="list_b"></div>
				<a id="grid_a" onclick="display('grid');">Grid</a>
			</div>

			<div class="limit">
				<strong>Show:</strong> 
				<select onchange="location = this.value;">
					<option value="@{Categories.view(category.id, order, 15)}"${limit==15?' selected="selected"'.raw():''}>15</option>
					<option value="@{Categories.view(category.id, order, 25)}"${limit==25?' selected="selected"'.raw():''}>25</option>
					<option value="@{Categories.view(category.id, order, 50)}"${limit==50?' selected="selected"'.raw():''}>50</option>
					<option value="@{Categories.view(category.id, order, 75)}"${limit==75?' selected="selected"'.raw():''}>75</option>
					<option value="@{Categories.view(category.id, order, 100)}"${limit==100?' selected="selected"'.raw():''}>100</option>
				</select>
			</div>
			<div class="sort">
				<strong>Sort By:</strong> 
				<select onchange="location = this.value;">
					<option value="@{Categories.view(category.id, null, limit)}"${order==null?' selected="selected"'.raw():''}>Default</option>
					<option value="@{Categories.view(category.id, 'price', limit)}"${order=='price'?' selected="selected"'.raw():''}>Price (Low &gt; High)</option>
					<option value="@{Categories.view(category.id, 'price_desc', limit)}"${order=='price_desc'?' selected="selected"'.raw():''}>Price (High &gt; Low)</option>
					<option value="@{Categories.view(category.id, 'rating_desc', limit)}"${order=='rating_desc'?' selected="selected"'.raw():''}>Rating (Highest)</option>
					<option value="@{Categories.view(category.id, 'rating', limit)}"${order=='rating'?' selected="selected"'.raw():''}>Rating (Lowest)</option>
				</select>
			</div>
		</div>
		<!-- 
		<div class="product-compare">
			<a href="#" id="compare_total">Product Compare (0)</a>
		</div>
		 -->
		<div class="product-list">
			#{paginate.list items:paginator, as:'product'}
			<div>
				<div class="right">
					<div class="price">
						${product.price}<br/>
						<!-- 
						<span class="price-tax">Ex Tax: $500.00</span>
						 -->
					</div>
					<div class="cart">
						<a onclick="addToCart('${product.id}');" class="button">
							<span>Add to Cart</span>
						</a>
					</div>
					<div class="wishlist">
						<a onclick="addToFavorite('${product.id}');">Add to Favorite</a>
					</div>
					<!-- 
					<div class="compare">
						<a onclick="addToCompare('${product.id}');">Add to Compare</a>
					</div>
					 -->
				</div>
				<div class="left">
					<div class="image">
						<a href="@{Products.view(product.id)}">
							<img src="${product.image?product.image.path100:null}"/>
						</a>
					</div>
					<div class="name">
						<a href="@{Products.view(product.id)}">${product.name}</a>
					</div>
					<div class="description">${product.summary}</div>
				</div>
			</div>
			#{/paginate.list}
		</div>
		<div class="pagination">
			<div class="results"></div>
		</div>
		#{paginate.controls items:paginator /}
		#{paginate.summary items:paginator /}
	</div>
</div>

<script type="text/javascript">
<!--
	function display(view) {
		if (view == 'list') {
			$('.product-grid').attr('class', 'product-list');

			$('.product-list > div').each(
					function(index, element) {
						var price = $(element).find('.price').html();
						html = '<div class="right">';
						html += '<div class="price">' + price + '</div>';
						html += '  <div class="cart">'
								+ $(element).find('.cart').html()
								+ '</div>';
						html += '  <div class="wishlist">'
								+ $(element).find('.wishlist').html()
								+ '</div>';
						html += '  <div class="compare">'
								+ $(element).find('.compare').html()
								+ '</div>';
						html += '</div>';

						html += '<div class="left">';

						var image = $(element).find('.image').html();

						if (image != null) {
							html += '<div class="image">' + image
									+ '</div>';
						}

						html += '  <div class="name">'
								+ $(element).find('.name').html()
								+ '</div>';
						html += '  <div class="description">'
								+ $(element).find('.description').html()
								+ '</div>';

						var rating = $(element).find('.rating').html();

						if (rating != null) {
							html += '<div class="rating">' + rating
									+ '</div>';
						}

						html += '</div>';

						$(element).html(html);
					});

			$('.display')
					.html(
							'<b>Display:</b> <div id="list_b"></div>  <a id="grid_a" onclick="display(\'grid\');">Grid</a>');

			$.cookie('display', 'list');
		} else {
			$('.product-list').attr('class', 'product-grid');

			$('.product-grid > div').each(
					function(index, element) {
						html = '';

						var image = $(element).find('.image').html();

						if (image != null) {
							html += '<div class="image">' + image
									+ '</div>';
						}

						html += '<div class="name">'
								+ $(element).find('.name').html()
								+ '</div>';
						html += '<div class="description">'
								+ $(element).find('.description').html()
								+ '</div>';

						var price = $(element).find('.price').html();

						if (price != null) {
							html += '<div class="price">' + price
									+ '</div>';
						}

						var rating = $(element).find('.rating').html();

						if (rating != null) {
							html += '<div class="rating">' + rating
									+ '</div>';
						}

						html += '<div class="cart">'
								+ $(element).find('.cart').html()
								+ '</div>';
						html += '<div class="wishlist">'
								+ $(element).find('.wishlist').html()
								+ '</div>';
						html += '<div class="compare">'
								+ $(element).find('.compare').html()
								+ '</div>';

						$(element).html(html);
					});

			$('.display')
					.html(
							'<b>Display:</b> <a id="list_a" onclick="display(\'list\');">List</a>  <div id="grid_b"></div>');

			$.cookie('display', 'grid');
		}
	}

	view = $.cookie('display');

	if (view) {
		display(view);
	} else {
		display('list');
	}
//-->
</script>