#{extends 'main.html' /}
#{set title:product.name /}

<div class="grid_12">
	<div id="notification"></div>
	<div class="breadcrumb">
		<a href="@{Index.index}">Home</a>
		» <a href="@{Categories.view(product.category.id)}">${product.category.name}</a>
	</div>
	<div id="column-left">
		<div class="box">
			<div class="box-heading">Categories</div>
			<div class="box-content">
				<div class="box-category">
					<ul>
						#{list items:product.category.children, as:'category'}
						<li><a class="active" href="@{Categories.view(category.id)}">${category.name}</a>
							#{if category.children.size()>0}
							<ul>
							#{list items:category.children, as:'category'}
								<li><a href="@{Categories.view(category.id)}"> - ${category.name}</a></li>
							#{/list}
							</ul>
							#{/if}
						</li>
						#{/list}
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div id="content">
		<h1>${product.name}</h1>
		<div class="product-info">
			<div class="left">
				<div class="image">
					<a href="${product.image.path320}"><img src="${product.image.path320}"/></a>
				</div>
				<div class="image-additional">
					#{list product.images, as:'image'}
					<a href="${image.path100}"><img src="${image.path100}" width="74" height="74"/></a>
					#{/list}
				</div>
			</div>
			<div class="right">
				<div class="description">
					<span>Product Code:</span>${product.id}<br/>
					<span>Product Name:</span>${product.name}<br/>
					<span>Product Category</span>${product.category}<br/>
				</div>
				<div class="price">
					Price: 
					<span class="price-new">${product.price}</span> 
					<br/>
				</div>
				<div class="cart">
					<div>
						Qty: <input type="text" name="number" size="2" value="1">
						<input type="hidden" name="id" value="${product.id}">
						&nbsp;
						<a id="button-cart" class="button"><span>Add to Cart</span></a>
					</div>
					<div>
						<span>&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp;<a onclick="addToFavorite(${product.id});">Add to Favorite</a></span>
					</div>
				</div>
			</div>
			<div class="review">
				<div class="share">
					<!-- AddThis Button BEGIN -->
					<div class="addthis_default_style">
						<a class="addthis_button_compact">Share</a> <a
							class="addthis_button_email"></a><a class="addthis_button_print"></a>
						<a class="addthis_button_facebook"></a> <a
							class="addthis_button_twitter"></a>
					</div>
					<script type="text/javascript"
						src="http://s7.addthis.com/js/250/addthis_widget.js"></script>
					<!-- AddThis Button END -->
				</div>
			</div>
		</div>

		<div id="tabs" class="htabs">
			<a href="#tab-description" class="selected">Description</a>
		</div>
		<div id="tab-description" class="tab-content">
			<div class="cpt_product_description ">
				<div>${product.description}</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$('#button-cart').bind('click', function() {
	$.ajax({
		url: '/cart/add',
		type: 'get',
		data: $('.product-info input[type=\'text\'], .product-info input[type=\'hidden\'], .product-info input[type=\'radio\']:checked, .product-info input[type=\'checkbox\']:checked, .product-info select, .product-info textarea'),
		dataType: 'json',
		success: function(json) {
			$('.success, .warning, .attention, information, .error').remove();
			
			if (json['error']) {
				if (json['error']['warning']) {
					$('#notification').html('<div class="warning" style="display: none;">' + json['error']['warning'] + '<img src="/images/cancel.png" alt="" class="close" /></div>');
				
					$('.warning').fadeIn('slow');
				}
				
				for (i in json['error']) {
					$('#option-' + i).after('<span class="error">' + json['error'][i] + '</span>');
				}
			}	 
						
			if (json['success']) {
				$('#notification').html('<div class="attention" style="display: none;">' + json['success'] + '<img src="/images/cancel.png" alt="" class="close" /></div>');
					
				$('.attention').fadeIn('slow');
					
				$('#cart_total').html(json['total']);
								
				var image = $('#image').offset();
				var cart  = $('#cart').offset();
	
				$('#image').before('<img src="' + $('#image').attr('src') + '" id="temp" style="position: absolute; top: ' + image.top + 'px; left: ' + image.left + 'px;" />');
	
				params = {
					top : cart.top + 'px',
					left : cart.left + 'px',
					opacity : 0.0,
					width : $('#cart').width(),  
					height : $('#cart').height()
				};		
	
				$('#temp').animate(params, 'slow', false, function () {
					$('#temp').remove();
				});		
			}	
		}
	});
});
</script>
<script type="text/javascript">
$(function(){
	$('#tabs a').tabs();
});
</script>
