<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
    	<div id="header">
	    	<div class="nav_hre" style="float: right;">
	    	#{if session.userid }
	    		Welcome ${session.username} ! | <a href="@{buyer.Member.index()}">My Account</a> | <a href="@{buyer.Member.logout()}">Logout</a>
	    	#{/if}
	    	#{else}
	    	<a href="@{buyer.Member.register()}">Join free</a> &nbsp;Already have an account&nbsp;<a href="@{buyer.Member.login()}">Sign in</a>
	    	#{/else}
	    	</div>
	    	<h2>House</h2>
    	</div>
    	<div id="content">
        #{doLayout /}
        </div>
        <div id="footer">
            Created with <a href="http://www.playframework.org">play framework</a> and really inspirated from the booking sample application provided by <a href="http://seamframework.org/">seam framework</a>
        </div>
    </body>
</html>
