#{extends 'seller/layouts/index.html' /}

<div id="login">
	
	<h1>&{'secure.title'}</h1>
		
	#{form @authenticate()}
		
		#{if flash.error}
			<p class="error">
				&{flash.error}
			</p>
		#{/if}
		#{if flash.success}
			<p class="success">
				&{flash.success}
			</p>
		#{/if}
	
		<p id="username-field">
			<label for="email">Email</label>
			<input type="text" name="email" id="email" value="${flash.email}" />
		</p>
		<p id="password-field">
			<label for="password">密码</label>
			<input type="password" name="password" id="password" value="" />
		</p>
		<p id="remember-field">
			<input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
			<label for="remember">记住密码</label>
		</p>
		<p id="signin-field">
			<input type="submit" id="signin" value="登陆" />
		</p>
	#{/form}
</div>