#{extends 'seller/layouts/index.html' /} 
#{set title:'注册' /}

<div class="grid_12">
	<div id="content">
		<div class="breadcrumb">
			<a href="@{Seller.Index.index}">首页</a>
			» <a href="@{Seller.Users.register}">注册</a>
		</div>
		
		<h1>注册卖家</h1>
		
		<!-- #{message /} -->
		
		#{form @seller.Users.reg()}
			<h2>用户信息</h2>
			#{field 'user.username'}
			<p class="${field.errorClass}">
				<strong>用户名: </strong><font color="red">*</font> <input
					type="text" name="${field.name}" id="username"
					value="${flash['user.username']}" /><span class="error">${field.error}</span>
			</p>
			#{/field}
			#{field 'user.email'}
			<p class="${field.errorClass}">
				<strong>Email: </strong><font color="red">*</font>
				<input type="text" name="${field.name}" value="${flash['user.email']}" />
				<span class="error">${field.error}</span>
			</p>
			#{/field}
			
			<h2>密码</h2>
			#{field 'user.password'}
			<p class="${field.errorClass}">
				<strong>密码: </strong><font color="red">*</font>
				<input type="password" name="${field.name}" /> <span class="error">${field.error}</span>
			</p>
			#{/field}
			#{field 'user.rePassword'}
			<p class="${field.errorClass}">
				<strong>重新输入密码:</strong> <font color="red">*</font>
				 <input type="password" name="${field.name}"/><span class="error">${field.error}</span>
			</p>
			#{/field}
			#{field 'user.firstName'}
			<p class="${field.errorClass}">
				<strong>姓: </strong><font color="red">*</font>
				<input type="text" name="${field.name}" value="${flash['user.firstName']}" />
				<span class="error">${field.error}</span>
			</p>
			#{/field}
			#{field 'user.lastName'}
			<p class="${field.errorClass}">
				<strong>名: </strong><font color="red">*</font>
				<input type="text" name="${field.name}" value="${flash['user.lastName']}" /><span class="error">${field.error}</span>
			</p>
			#{/field}
			#{field 'seller.companyName'}
			<p class="${field.errorClass}">
				<strong>公司名: </strong><font color="red">*</font><input type="text"
					name="${field.name}" value="${flash['seller.companyName']}" /><span class="error">${field.error}</span>
			</p>
			#{/field}
			#{field 'seller.companyAddress'}
			<p class="${field.errorClass}">
				<strong>公司地址:<font color="red">*</font> </strong><input type="text"
					name="${field.name}" value="${flash['seller.companyAddress']}" /><span class="error">${field.error}</span>
			</p>
			#{/field}
			#{field 'seller.phone'}
			<p class="${field.errorClass}">
				<strong>电话: <font color="red">*</font></strong><input type="text"
					name="${field.name}" value="${flash['seller.phone']}" /><span class="error">${field.error}</span>
			</p>
			#{/field}
			#{field 'seller.mobile'}
			<p class="${field.errorClass}">
				<strong>手机: <font color="red">*</font></strong><input type="text"
					name="${field.name}" value="${flash['seller.mobile']}" /><span class="error">${field.error}</span>
			</p>
			#{/field}
			<p>
				#{authenticityToken /}
				<input type="submit" value="注册" />
			</p>
		#{/form}
	</div>
</div>