#{extends 'seller/layouts/main.html' /} 
#{set title:'修改密码' /}

<div class="contentcontainer">
	<div class="headings alt">
		<h2>修改密码</h2>
	</div>
	<div class="contentbox">
		#{user.message /}
		#{form @seller.Users.save_password()}
			#{field 'oldpassword'}
			<p class="${field.errorClass}">
				<label><strong>原始密码: </strong></label>
				<input type="password" name="${field.name}" id="oldpassword" class="inputbox"/>
				#{if field.error}
				<img src="/images/user/icons/icon_missing.png" alt="Error">
				<br/>
				<span class="smltxt red">${field.error}</span>
				#{/if}
			</p>
			#{/field}
			#{field 'password'}
			<p class="${field.errorClass}">
				<label><strong>新密码: </strong></label>
				<input type="password" name="${field.name}" id="password" class="inputbox"/>
				#{if field.error}
				<img src="/images/user/icons/icon_missing.png" alt="Error">
				<br/>
				<span class="smltxt red">${field.error}</span>
				#{/if}
			</p>
			#{/field}
			#{field 'repassword'}
			<p class="${field.errorClass}">
				<label><strong>重新输入密码:</strong></label>
				 <input type="password" name="${field.name}" id="repassword" class="inputbox"/>
				#{if field.error}
				<img src="/images/user/icons/icon_missing.png" alt="Error">
				<br/>
				<span class="smltxt red">${field.error}</span>
				#{/if}
			</p>
			#{/field}
			<input type="submit" value="保存" class="btn"/>
		#{/form}
	</div>
</div>