#{extends 'seller/layouts/main.html' /} 
#{set title:'修改账户信息' /}

<div class="contentcontainer">
	<div class="headings alt">
		<h2>修改账户信息</h2>
	</div>
	<div class="contentbox">
		#{user.message /}
		#{form @save_setting()}
			<p>
				<strong>&{'user.username'}:</strong> 
				${user.username}
			</p>
			<p>
				<strong>&{'user.email'}: </strong>
				${user.email}
			</p>
			#{field 'firstName'}
			<p class="${field.errorClass}">
				<label><strong>&{'user.firstName'}: </strong></label>
				<input type="text" name="${field.name}" id="firstName" value="${user.firstName}" class="inputbox"/>
				#{if field.error}
				<img src="/images/user/icons/icon_missing.png" alt="Error">
				<br/>
				<span class="smltxt red">${field.error}</span>
				#{/if}
			</p>
			#{/field}
			#{field 'lastName'}
			<p class="${field.errorClass}">
				<label><strong>&{'user.lastName'}: </strong></label>
				<input type="text" name="${field.name}" id="lastName" value="${user.lastName}" class="inputbox"/>
				#{if field.error}
				<img src="/images/user/icons/icon_missing.png" alt="Error">
				<br/>
				<span class="smltxt red">${field.error}</span>
				#{/if}
			</p>
			#{/field}
			#{field 'seller.companyName'}
			<p class="${field.errorClass}">
				<label><strong>&{'seller.companyName'}: </strong></label>
				<input type="text" name="${field.name}" value="${seller?.companyName}" class="inputbox"/>
				#{if field.error}
				<img src="/images/user/icons/icon_missing.png" alt="Error">
				<br/>
				<span class="smltxt red">${field.error}</span>
				#{/if}
			</p>
			#{/field}
			#{field 'seller.companyAddress'}
			<p class="${field.errorClass}">
				<label><strong>&{'seller.companyAddress'}: </strong></label>
				<input type="text" name="${field.name}" value="${seller?.companyAddress}" class="inputbox"/>
				#{if field.error}
				<img src="/images/user/icons/icon_missing.png" alt="Error">
				<br/>
				<span class="smltxt red">${field.error}</span>
				#{/if}
			</p>
			#{/field}
			#{field 'seller.mobile'}
			<p class="${field.errorClass}">
				<label><strong>&{'seller.mobile'}: </strong></label>
				<input type="text" name="${field.name}" value="${seller?.mobile}" class="inputbox"/>
				#{if field.error}
				<img src="/images/user/icons/icon_missing.png" alt="Error">
				<br/>
				<span class="smltxt red">${field.error}</span>
				#{/if}
			</p>
			#{/field}
			<input type="submit" value="保存" class="btn"/>
		#{/form}
	</div>
</div>